<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">Inicio</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Crear Proyectos</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Proyectos Estándar</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-fire"></i> Nueva Alerta</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-pin"></i> Nueva Acción</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-user"></i> Ubicar a Alguien</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="#">
                                    <i class="icon-layers"></i> Ver Proyectos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title"> Crear Proyectos
                            <small>Proyecto Estándar</small>
                        </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN FORM PROJECT-->
            <div class="todo-content">
                <div class="portlet light ">
                    <!-- PROJECT HEAD -->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-sharp hide"></i>
                            <span class="caption-helper">Fase del Action Workflow:</span> &nbsp;
                            <span class="caption-subject font-green-sharp bold uppercase">Preparación</span>
                        </div>
                    </div>

                    <form name="projectForm" ng-submit="submit(project)" class="horizontal-form" novalidate>
                        <h4 class="form-section">Los Roles en la Acción</h4>

                        <div class="row">
                            <div class="col-md-6">
                              <label>Cliente</label>
                              <people-search text="Cliente" user-id="project.client"></people-search>
                            </div>

                            <!--/span-->
                            <div class="col-md-6">
                              <label>Realizador</label>
                              <people-search text="Realizador" user-id="project.producer"></people-search>
                            </div>
                            <!--/span-->
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                              <label>Observador</label>
                              <people-search text="Observador" user-id="project.agent"></people-search>
                            </div>
                        </div>
                        <!--/row-->
                        <h4 class="form-section">El Foco del Proyecto</h4>
                        <div class="row">
                            <div class="col-md-12">
                              <md-input-container class="input-info">
                               <label>Nombre del proyecto</label>
                               <input
                                 name="projectName"
                                 maxlength="64"
                                 ng-model="project.name"
                                 ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                 required></input>
                               <div ng-show="projectForm.projectName.$touched || submitted">
                                 <div class="error" ng-show="projectForm.projectName.$error.required">
                                   Campo requerido.
                                 </div>
                                 <div class="error" ng-show="projectForm.projectName.$error.pattern">
                                   Debe contener espacios y caracteres alfabéticos.
                                 </div>
                               </div>
                              </md-input-container>
                            </div>
                        </div>
                        <h4 class="form-section">¿Qué haremos? - ¿Cómo lo haremos?</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                  <label>Describe la Acción...</label>
                                  <textarea
                                    required
                                    ng-model="project.toDo"
                                    maxlength="150"
                                    rows="5" ></textarea>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                              <md-input-container class="md-block">
                                <label>Describe las condiciones de satisfaccion...</label>
                                <textarea required ng-model="project.satisfactions" md-maxlength="150" rows="5" ></textarea>
                              </md-input-container>
                            </div>
                        </div>
                        <h4 class="form-section">Fechas Clave Action Workflow del Proyecto</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h4>Fase de Preparación...</h4>
                                  <md-datepicker required ng-model="project.preparation_at" md-placeholder="ingrese fecha"></md-datepicker>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h4>Fase de Negociación...</h4>
                                  <md-datepicker required ng-model="project.negotiation_at" md-placeholder="ingrese fecha"></md-datepicker>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h4>Fase de Ejecución...</h4>
                                  <md-datepicker required ng-model="project.execution_at" md-placeholder="ingrese fecha"></md-datepicker>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h4>Fase de Evaluación...</h4>
                                  <md-datepicker required ng-model="project.evaluation_at" md-placeholder="ingrese fecha"></md-datepicker>
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">Fechas Compromisos</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h4>"Fecha de Inicio..."</h4>
                                  <md-datepicker required ng-model="project.begin_at" md-placeholder="ingrese fecha"></md-datepicker>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h4>Fecha de Cumplimiento...</h4>
                                  <md-datepicker required ng-model="project.accomplish_at" md-placeholder="ingrese fecha"></md-datepicker>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h4>Fecha de Renegociación...</h4>
                                  <md-datepicker required ng-model="project.renegotiation_at" md-placeholder="ingrese fecha"></md-datepicker>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h4>Fecha de Reporte de Avance...</h4>
                                  <md-datepicker required ng-model="project.report_at" md-placeholder="ingrese fecha"></md-datepicker>
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">Indicadores</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <md-input-container class="md-block">
                                  <label>Financieros...</label>
                                  <input ng-model="project.financial"  type="text" ng-model="color" required md-maxlength="10">
                                </md-input-container>
                            </div>
                            <div class="col-md-3">

                                <md-input-container class="md-block">
                                  <label>Operacionales...</label>
                                  <input ng-model="project.operational"  type="text" ng-model="color" required md-maxlength="10">
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block">
                                  <label>Otros...</label>
                                  <input ng-model="project.other1"  type="text" ng-model="color" required md-maxlength="10">
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                              <md-input-container class="md-block">
                                <label>Otros...</label>
                                <input ng-model="project.other2"  type="text" ng-model="color" required md-maxlength="10">
                              </md-input-container>
                            </div>
                        </div>
                        <div class="todo-tasklist-devider"> </div>
                        <div class="col-md-7 col-sm-8">
                            <form action="#" class="form-horizontal">
                                <!-- TASK HEAD -->
                                <!-- END TASK HEAD -->
                                <!-- TASK TITLE -->
                                <button type="submit" class="pull-right btn btn-sm btn-circle red-thunderbird"> &nbsp; Enviar &nbsp; </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END TASK COMMENT FORM -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
