<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a ui-sref="coordinations"> Inicio </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="projectList"> Tablero de Proyectos </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span> Crear Proyecto </span>
                    </li>
                    <!--li>
                        <span>Proyectos Estándar</span>
                    </li-->
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <!--button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-fire"></i> Nueva Alerta</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-pin"></i> Nueva Acción</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-user"></i> Ubicar a Alguien</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="#">
                                    <i class="icon-layers"></i> Ver Proyectos</a>
                            </li>
                        </ul-->
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title text-center" style="margin: 1.5em 0em 0em 0em"> Crear Proyecto </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN FORM PROJECT-->
            <div class="todo-content">
                <div class="portlet light">
                    <!-- PROJECT HEAD -->
                    <!--div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-sharp hide"></i>
                            <span class="caption-helper">Fase del Action Workflow:</span> &nbsp;
                            <span class="caption-subject font-green-sharp bold uppercase">Preparación</span>
                        </div>
                    </div-->

                    <form name="projectForm" ng-submit="submitForm()" class="horizontal-form" novalidate>
                        <!--h4 class="form-section"> Roles </h4-->
                        <!--row-->
                        <div class="row">
                          <div class="col-md-4">
                            <user-search field-name="Cliente" user-id="project.client"> </user-search>
                          </div>

                          <div class="col-md-4">
                            <user-search field-name="Realizador" user-id="project.producer"> </user-search>
                          </div>
                          
                          <div class="col-md-4">
                            <user-search field-name="Observador" user-id="project.observer"> </user-search>
                          </div>
                        </div>

                        <!--/row-->
                        <!--h4 class="form-section">Foco</h4-->
                        <!--row-->
                        <div class="row">

                            <div class="col-md-4">
                              <md-input-container class="md-block" >
                               <label>Nombre del proyecto</label>
                               <input
                                 name="projectName"
                                 maxlength="64"
                                 ng-model="project.name"
                                 ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                 required></input>
                               
                               <div ng-show="projectForm.projectName.$touched || submitted">
                                 <div class="error" ng-show="projectForm.projectName.$error.required">
                                   Campo requerido.
                                 </div>
                                 <div class="error" ng-show="projectForm.projectName.$error.pattern">
                                   Debe contener espacios y caracteres alfabéticos.
                                 </div>
                               </div>
                              </md-input-container>
                            </div>

                            <div class="col-md-4">
                              <md-input-container class="md-block" >
                                <label> Fase </label>
                                <md-select name="phase" ng-model="project.phase" required="">
                                  <md-option value="preparacion"> Preparación </md-option>
                                  <md-option value="negociacion"> Negociación </md-option>
                                  <md-option value="ejecución"> Ejecución </md-option>
                                  <md-option value="evaluación"> Evaluación </md-option>
                                </md-select>
                               
                                <div ng-show="projectForm.phase.$touched || submitted">
                                   <div class="error" style="margin-top: 0em" ng-show="projectForm.phase.$error.required">
                                     Campo requerido.
                                   </div>
                                 </div>
                                </md-input-container>
                            </div>

                            <div class="col-md-4">
                              <md-input-container class="md-block" >
                                <label> Tipo </label>
                                <md-select name="clasification" ng-model="project.clasification" required="">
                                  <md-option value="estandar"> Estándar </md-option>
                                  <md-option value="piloto"> Piloto </md-option>
                                  <md-option value="jardin"> Jardín </md-option>
                                </md-select>

                                <div ng-show="projectForm.clasification.$touched || submitted">
                                   <div class="error" style="margin-top: 0em" ng-show="projectForm.clasification.$error.required">
                                     Campo requerido.
                                   </div>
                                 </div>
                              </md-input-container>
                            </div>

                        </div>
                        <!--row-->
                        <!--h4 class="form-section">¿Qué haremos? - ¿Cómo lo haremos?</h4-->
                        <div class="row">
                          <!--row-->
                          <div class="col-md-6">
                              <md-input-container class="md-block">
                                <label> Acción </label>
                                <textarea
                                  name="toDo"  
                                  placeholder="Describe las acciones a realizar."
                                  rows="5"
                                  maxlength="512"
                                  ng-model="project.toDo"
                                  required></textarea>

                                  <div ng-show="projectForm.toDo.$touched || submitted">
                                     <div class="error" ng-show="projectForm.toDo.$error.required">
                                       Campo requerido.
                                     </div>
                                   </div>

                              </md-input-container>
                          </div>

                          <div class="col-md-6">
                              <md-input-container class="md-block">
                                <label> Requerimientos </label>
                                <textarea
                                  name="satisfaction"
                                  placeholder="Describe las condiciones de satisfacción"
                                  rows="5"
                                  maxlength="512"
                                  ng-model="project.satisfactions"                                   required></textarea>

                                <div ng-show="projectForm.satisfaction.$touched || submitted">
                                    <div class="error" ng-show="projectForm.satisfaction.$error.required">
                                      Campo requerido.
                                    </div>
                                </div>

                              </md-input-container>
                          </div>
                            <!--row-->
                        </div>
                        <h4 class="form-section"> Fases Action Workflow </h4>
                        <!--row-->
                        <div class="row">

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>Fase de Preparación</h5>
                                  <md-datepicker 
                                    name="preparation_at1"  
                                    md-placeholder="ingrese fecha"
                                    ng-model="project.preparation_at1"
                                    required></md-datepicker>
                                  
                                  <div ng-show="projectForm.preparation_at.$touched || submitted">
                                    <div class="error" ng-show="projectForm.preparation_at.$error.required">
                                      Campo requerido.
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>Fase de negociación</h5>
                                  <md-datepicker 
                                    name="negotiation_at1"
                                    md-placeholder="ingrese fecha" 
                                    ng-model="project.negotiation_at1"
                                    required ></md-datepicker>

                                  <div ng-show="projectForm.negotiation_at.$touched || submitted">
                                    <div class="error" ng-show="projectForm.negotiation_at.$error.required">
                                      Campo requerido.
                                    </div>
                                  </div>
                                </div>                   
                            </div>

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>Fase de ejecución</h5>
                                  <md-datepicker 
                                    name="execution_at1"
                                    md-placeholder="ingrese fecha"
                                    ng-model="project.execution_at1"
                                    required ></md-datepicker>

                                  <div ng-show="projectForm.execution_at.$touched || submitted">
                                    <div class="error" ng-show="projectForm.execution_at.$error.required">
                                      Campo requerido.
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>Fase de evaluación</h5>
                                  <md-datepicker
                                    name="evaluation_at1" 
                                    md-placeholder="ingrese fecha"
                                    ng-model="project.evaluation_at1"
                                    required></md-datepicker>
                                </div>

                                <div ng-show="projectForm.evaluation_at.$touched || submitted">
                                  <div class="error" ng-show="projectForm.evaluation_at.$error.required">
                                    Campo requerido.
                                  </div>
                                </div>
                            </div>

                        </div>
                        <!--end row-->

                        <br><br>
                        <h4 class="form-section"> Fechas Compromisos </h4>
                        <!--row-->
                        <div class="row">

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>"Fecha de Inicio"</h5>
                                  <md-datepicker 
                                    name="begin_at1"
                                    ng-model="project.begin_at1" 
                                    md-placeholder="ingrese fecha"
                                    required ></md-datepicker>

                                  <div ng-show="projectForm.begin_at.$touched || submitted">
                                    <div class="error" ng-show="projectForm.begin_at.$error.required">
                                      Campo requerido.
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>Fecha de Cumplimiento...</h5>
                                  <md-datepicker 
                                    name="accomplish_at1"
                                    ng-model="project.accomplish_at1" 
                                    md-placeholder="ingrese fecha" 
                                    required></md-datepicker>

                                    <div ng-show="projectForm.accomplish_at.$touched || submitted">
                                      <div class="error" ng-show="projectForm.accomplish_at.$error.required">
                                        Campo requerido.
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>Fecha de Renegociación...</h5>
                                  <md-datepicker 
                                    name="renegotiation_at1"
                                    md-placeholder="ingrese fecha" 
                                    ng-model="project.renegotiation_at1" 
                                    required></md-datepicker>

                                    <div ng-show="projectForm.renegotiation_at.$touched || submitted">
                                      <div class="error" ng-show="projectForm.renegotiation_at.$error.required">
                                        Campo requerido.
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>Fecha de Reporte de Avance...</h5>
                                  <md-datepicker 
                                  name="report_at1"
                                  md-placeholder="ingrese fecha"
                                  ng-model="project.report_at1"
                                  required ></md-datepicker>

                                  <div ng-show="projectForm.report_at.$touched || submitted">
                                    <div class="error" ng-show="projectForm.report_at.$error.required">
                                      Campo requerido.
                                    </div>
                                  </div>

                                </div>
                            </div>

                        </div>
                        <!--end row-->

                        <br><br>
                        <h4 class="form-section">Indicadores</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <md-input-container class="md-block">
                                  <label>Financieros...</label>
                                  <input
                                    name="financial"
                                    maxlength="64"
                                    ng-model="project.financial"
                                    ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                    required></input>
                                  <div ng-show="projectForm.financial.$touched || submitted">
                                    <div class="error" ng-show="projectForm.financial.$error.required">
                                      Campo requerido.
                                    </div>
                                    <div class="error" ng-show="projectForm.financial.$error.pattern">
                                      Debe contener espacios y caracteres alfabéticos.
                                    </div>
                                  </div>
                                 </md-input-container>
                            </div>
                            <div class="col-md-3">

                                <md-input-container class="md-block">
                                  <label>Operacionales...</label>
                                  <input
                                    name="operational"
                                    maxlength="64"
                                    ng-model="project.operational"
                                    ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                    required></input>
                                  <div ng-show="projectForm.operational.$touched || submitted">
                                    <div class="error" ng-show="projectForm.operational.$error.required">
                                      Campo requerido.
                                    </div>
                                    <div class="error" ng-show="projectForm.operational.$error.pattern">
                                       Debe contener espacios y caracteres alfabéticos.
                                    </div>
                                  </div>
                                 </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block">
                                  <label>Otros...</label>
                                  <input
                                    name="other1"
                                    maxlength="64"
                                    ng-model="project.other1"
                                    ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                    required></input>
                                  <div ng-show="projectForm.other1.$touched || submitted">
                                    <div class="error" ng-show="projectForm.other1.$error.required">
                                      Campo requerido.
                                    </div>
                                    <div class="error" ng-show="projectForm.other1.$error.pattern">
                                       Debe contener espacios y caracteres alfabéticos.
                                    </div>
                                  </div>
                                 </md-input-container>
                            </div>
                            <div class="col-md-3">
                              <md-input-container class="md-block">
                                <label>Otros...</label>
                                <input
                                  name="other2"
                                  maxlength="64"
                                  ng-model="project.other2"
                                  ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                  required></input>
                                <div ng-show="projectForm.other2.$touched || submitted">
                                  <div class="error" ng-show="projectForm.other2.$error.required">
                                    Campo requerido.
                                  </div>
                                  <div class="error" ng-show="projectForm.other2.$error.pattern">
                                     Debe contener espacios y caracteres alfabéticos.
                                  </div>
                                </div>
                               </md-input-container>
                            </div>
                        </div>
                        <div class="todo-tasklist-devider"> </div>
                        <div class="col-md-7 col-sm-8">
                            <form action="#" class="form-horizontal">
                                <!-- TASK HEAD -->
                                <!-- END TASK HEAD -->
                                <!-- TASK TITLE -->
                                <button type="submit" class="pull-right btn btn-sm btn-circle red-thunderbird"> &nbsp; Enviar &nbsp; </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END TASK COMMENT FORM -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
