<my-header> </my-header>
<div class="page-container">
    <my-navbar> </my-navbar>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">Inicio</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <!--li>
                        <a href="#">Tablero de Control</a>
                        <i class="fa fa-circle"></i>
                    </li-->
                    <li>
                        <span>Creación de usuario</span>
                    </li>
                </ul>
                <!--div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-fire"></i> Nueva Alerta</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-pin"></i> Nueva Acción</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-user"></i> Ubicar a Alguien</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="#">
                                    <i class="icon-layers"></i> Ver Proyectos</a>
                            </li>
                        </ul>
                    </div>
                </div-->
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->

            <div class="row" >
                <div class="col-md-10">
                    <h1 class="page-title"> Usuarios
                    </h1>
                </div>
            </div>
            <form novalidate name="userForm" ng-submit="submit(user)">
              <div class="row">
                <div class="col-md-3">
                  <md-input-container class="md-block" >
                   <label>Nombre de usuario</label>
                   <input
                     name="username"
                     maxlength="128"
                     ng-model="user.username"
                     ng-pattern="/^([a-zA-Z0-9ñáéíóúÑÁÉÍÓÚ\s]{0,50})$/"
                     required></input>

                   <div ng-show="userForm.username.$touched || userForm.$submitted">
                     <div class="error" ng-show="userForm.username.$error.required">
                       Campo requerido.
                     </div>
                     <div class="error" ng-show="userForm.username.$error.pattern">
                       Debe contener caracteres alfanúmericos.
                     </div>
                   </div>
                  </md-input-container>
                </div>

                <div class="col-md-3">
                  <md-input-container class="md-block" >
                   <label>Email</label>
                   <input
                     name="email"
                     maxlength="256"
                     ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/"
                     ng-model="user.email"
                     required></input>

                   <div ng-show="userForm.email.$touched || userForm.$submitted">
                     <div class="error" ng-show="userForm.email.$error.required">
                       Campo requerido.
                     </div>
                     <div class="error" ng-show="userForm.email.$error.pattern">
                       Debe contener caracteres alfanúmericos.
                     </div>
                   </div>
                  </md-input-container>
                </div>

                <div class="col-md-3">
                  <md-input-container class="md-block" >
                   <label>Teléfono movil</label>
                   <input
                     name="celphone"
                     maxlength="16"
                     ng-model="user.cel_phone"
                     ng-pattern="/^([0-9]{0,10})$/"
                     required></input>

                   <div ng-show="userForm.celphone.$touched || userForm.$submitted">
                     <div class="error" ng-show="userForm.celphone.$error.required">
                       Campo requerido.
                     </div>
                     <div class="error" ng-show="userForm.celphone.$error.pattern">
                       Debe contener caracteres númericos.
                     </div>
                   </div>
                  </md-input-container>
                </div>

              </div>

              <div class="row">
                <div class="col-md-3">
                  <md-input-container class="md-block" >
                   <label>Nombre </label>
                   <input
                     name="name"
                     maxlength="64"
                     ng-model="user.name"
                     ng-pattern="/^([a-zA-Z0-9ñáéíóúÑÁÉÍÓÚ\s]{0,50})$/"
                     required></input>

                   <div ng-show="userForm.name.$touched || userForm.$submitted">
                     <div class="error" ng-show="userForm.name.$error.required">
                       Campo requerido.
                     </div>
                     <div class="error" ng-show="userForm.name.$error.pattern">
                       Debe contener caracteres alfanúmericos.
                     </div>
                   </div>
                  </md-input-container>
                </div>
                <div class="col-md-3">
                  <md-input-container class="md-block" >
                   <label>Apellido paterno</label>
                   <input
                     name="first_surname"
                     maxlength="32"
                     ng-model="user.first_surname"
                     ng-pattern="/^([a-zA-Z0-9ñáéíóúÑÁÉÍÓÚ\s]{0,50})$/"
                     required></input>

                   <div ng-show="userForm.first_surname.$touched || userForm.$submitted">
                     <div class="error" ng-show="userForm.first_surname.$error.required">
                       Campo requerido.
                     </div>
                     <div class="error" ng-show="userForm.first_surname.$error.pattern">
                       Debe contener caracteres alfanúmericos.
                     </div>
                   </div>
                  </md-input-container>
                </div>
                <div class="col-md-3">
                  <md-input-container class="md-block" >
                   <label>Apellido materno</label>
                   <input
                     name="second_surname"
                     maxlength="32"
                     ng-model="user.second_surname"
                     ng-pattern="/^([a-zA-Z0-9ñáéíóúÑÁÉÍÓÚ\s]{0,50})$/"
                     required></input>

                   <div ng-show="userForm.second_surname.$touched || userForm.$submitted">
                     <div class="error" ng-show="userForm.second_surname.$error.required">
                       Campo requerido.
                     </div>
                     <div class="error" ng-show="userForm.second_surname.$error.pattern">
                       Debe contener caracteres alfanúmericos.
                     </div>
                   </div>
                  </md-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <md-input-container class="md-block" >
                    <label> posición </label>
                    <md-select
                      name="position"
                      ng-model="user.position"
                      required>
                      <md-option value="Administrador"> Administrador </md-option>
                      <md-option value="Gerente de Proyectos"> Gerente de Proyectos </md-option>
                      <md-option value="Líder de Proyectos"> Líder de Proyectos </md-option>
                      <md-option value="Analista"> Analista </md-option>
                      <md-option value="Desarrollador"> Desarrollador </md-option>
                      <md-option value="Cliente"> Cliente </md-option>
                    </md-select>

                    <div ng-show="userForm.position.$touched || userForm.$submitted">
                       <div class="error" style="margin-top: 0em" ng-show="userForm.position.$error.required">
                         Campo requerido.
                       </div>
                     </div>
                  </md-input-container>
                </div>
                <div class="col-md-3">
                  <md-input-container class="md-block" >
                   <label>Contraseña</label>
                   <input
                     name="password"
                     maxlength="10"
                     type="password"
                     ng-model="user.password"
                     ng-pattern="/^([a-zA-Z0-9ñáéíóúÑÁÉÍÓÚ\s]{0,50})$/"
                     required></input>

                   <div ng-show="userForm.password.$touched || userForm.$submitted">
                     <div class="error" ng-show="userForm.password.$error.required">
                       Campo requerido.
                     </div>
                     <div class="error" ng-show="userForm.password.$error.pattern">
                       Debe contener caracteres alfanúmericos.
                     </div>
                   </div>
                  </md-input-container>
                </div>

                <div class="col-md-3">
                  <md-input-container class="md-block" >
                   <label>Confirmar contraseña</label>
                   <input
                     name="passwordConfirmation"
                     maxlength="10"
                     type="password"
                     ng-model="passwordConfirmation"
                     ng-pattern="/^([a-zA-Z0-9ñáéíóúÑÁÉÍÓÚ\s]{0,50})$/"
                     required></input>

                   <div ng-show="userForm.passwordConfirmation.$touched || userForm.$submitted">
                     <div class="error" ng-show="userForm.passwordConfirmation.$error.required">
                       Campo requerido.
                     </div>
                     <div class="error" ng-show="userForm.passwordConfirmation.$error.pattern">
                       Debe contener caracteres alfanúmericos.
                     </div>
                   </div>
                  </md-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <input fileread='user.photo' type="file"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-md-offset-5 text-center">
                  <button type="submit"  promise-btn="submmitPromise" class="btn blue">Guardar </button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>
<!-- END CONTENT -->
