
<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" ng-init="getActionByIdInit()">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a ui-sref="coordinations"> Inicio </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="projectList"> Tablero del Proyectos </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="projectDetail({id:action.project.id})"> Bitácora del Proyecto </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span> Editar Acción </span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <!--button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="alertas.html">
                                    <i class="icon-fire"></i> Nueva Alerta</a>
                            </li>
                            <li>
                                <a href="acciones.html">
                                    <i class="icon-pin"></i> Nueva Acción</a>
                            </li>
                            <li>
                                <a href="equipos.html">
                                    <i class="icon-user"></i> Ubicar a Alguien</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="proyectos">
                                    <i class="icon-layers"></i> Proyectos en Ejecución</a>
                            </li>
                        </ul-->
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title text-center" style="margin: 1.5em 0em 0em 0em">
              Editar Acción <!--small>Subciclos de Compromisos</small-->
            </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN FORM PROJECT-->
            <div class="todo-content">
                <div class="portlet light ">
                    <!-- PROJECT HEAD -->
                    <!--div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-red-sharp hide"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">Subciclo del Proyecto</span>
                        </div>
                    </div-->
                    <form name="actionForm" class="horizontal-form" novalidate ng-submit="submit(action)">
                        <h4 class="form-section"> Datos Generales </h4>

                          <div class="row">
                            <div class="col-md-4">
                              <md-input-container class="md-block" >
                                <label> Avance </label>
                                <md-select name="progress" ng-model="action.progress" required>
                                  <md-option value="0"> 0% </md-option>
                                  <md-option value="20"> 25% </md-option>
                                  <md-option value="50"> 50% </md-option>
                                  <md-option value="70"> 75% </md-option>
                                  <md-option value="100"> 100% </md-option>
                                </md-select>

                                <div ng-show="actionForm.progress.$touched || submitted">
                                   <div class="error" style="margin-top: 0em"
                                        ng-show="actionForm.progress.$error.required">
                                     Campo requerido.
                                   </div>
                                 </div>
                                </md-input-container>
                            </div>

                            <div class="col-md-4">
                              <md-input-container class="md-block" >
                                <label> Estado </label>
                                <md-select name="status" ng-model="action.status" required>
                                  <md-option value="Abierta"> Abierta </md-option>
                                  <md-option value="Concluida satisfactoriamente"> Concluida satisfactoriamente </md-option>
                                  <md-option value="Concluida insatisfactoriamente"> Concluida insatisfactoriamente </md-option>
                                </md-select>

                                <div ng-show="actionForm.status.$touched || submitted">
                                   <div class="error"  style="margin-top: 0em"
                                        ng-show="actionForm.status.$error.required">
                                     Campo requerido.
                                   </div>
                                 </div>
                                </md-input-container>
                            </div>

                            <div class="col-md-4">
                              <md-input-container class="md-block" >
                                <label> Promesa </label>
                                <md-select name="promise"
                                           ng-model="action.promise"
                                           ng-disabled="true"
                                           required>
                                     <md-option value="Creada"> Creada </md-option>
                                     <md-option value="Aceptada"> Aceptada </md-option>
                                     <md-option value="Reportada"> Reportada </md-option>
                                     <md-option value="Cumplida"> Cumplida </md-option>
                                     <md-option value="Incumplida"> Incumplida </md-option>
                                     <md-option value="Negociando"> Negociando </md-option>
                                     <md-option value="No aceptada"> No aceptada </md-option>
                                </md-select>

                                <div ng-show="actionForm.promise.$touched || submitted">
                                   <div class="error"  style="margin-top: 0em"
                                        ng-show="actionForm.status.$error.required">
                                     Campo requerido.
                                   </div>
                                 </div>
                                </md-input-container>
                            </div>
                          </div>

                          <br>
                          <div class="row">
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                  <label> Nombre del Proyecto </label>
                                  <input
                                    maxlength="64"
                                    ng-model="action.project.name"
                                    disabled></input>
                                 </md-input-container>
                            </div>

                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                  <label> Nombre de la acción </label>
                                  <input
                                    name="name"
                                    maxlength="64"
                                    ng-model="action.name"
                                    ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                    required></input>
                                  <div ng-show="actionForm.name.$touched || submitted">
                                    <div class="error" ng-show="actionForm.name.$error.required">
                                      Campo requerido.
                                    </div>
                                    <div class="error" ng-show="actionForm.name.$error.pattern">
                                       Debe contener espacios y caracteres alfabéticos.
                                    </div>
                                  </div>
                                 </md-input-container>
                            </div>
                            <div class="col-md-4">
                              <md-input-container class="md-block" >
                                <label> Fase </label>
                                <md-select name="phase" ng-model="action.phase" required>
                                  <md-option value="Preparación"> Preparación </md-option>
                                  <md-option value="Negociación"> Negociación </md-option>
                                  <md-option value="Ejecución"> Ejecución </md-option>
                                  <md-option value="Evaluación"> Evaluación </md-option>
                                </md-select>

                                <div ng-show="actionForm.phase.$touched || submitted">
                                   <div class="error"  style="margin-top: 0em"
                                        ng-show="actionForm.phase.$error.required">
                                     Campo requerido.
                                   </div>
                                 </div>
                                </md-input-container>
                            </div>
                          </div>

                          <h4 class="form-section"> Roles en la Acción </h4>
                          <div class="row">
                            <div class="col-md-4">
                                <md-input-container class="md-block">
                                  <label> Cliente </label>
                                  <input
                                    maxlength="64"
                                    ng-model="action.client.name"
                                    disabled></input>
                                 </md-input-container>
                            </div>

                            <div class="col-md-4">
                              <user-search field-name="Realizador" user-id="action.producer" user-init="action.producer"> </user-search>
                            </div>

                            <div class="col-md-4">
                              <user-search field-name="Observador" user-id="action.observer" user-init="action.observer"> </user-search>
                            </div>
                          </div>

                          <h4 class="form-section"> ¿Qué haremos? - ¿Cómo lo haremos? </h4>
                          <div class="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                  <label> Acción </label>
                                  <textarea
                                    name="toDo"
                                    placeholder="Describe las acciones a realizar."
                                    rows="5"
                                    maxlength="512"
                                    ng-model="action.toDo"
                                    required></textarea>

                                    <div ng-show="actionForm.toDo.$touched || submitted">
                                       <div class="error" ng-show="actionForm.toDo.$error.required">
                                         Campo requerido.
                                       </div>
                                     </div>

                                </md-input-container>
                            </div>

                            <div class="col-md-6">
                                <md-input-container class="md-block">
                                  <label> Requerimientos </label>
                                  <textarea
                                    name="satisfaction"
                                    placeholder="Describe las condiciones de satisfacción"
                                    rows="5"
                                    maxlength="512"
                                    ng-model="action.satisfactions"
                                    required></textarea>

                                  <div ng-show="actionForm.satisfaction.$touched || submitted">
                                      <div class="error" ng-show="actionForm.satisfaction.$error.required">
                                        Campo requerido.
                                      </div>
                                  </div>

                                </md-input-container>
                            </div>
                          </div>

                          <div class="row">
                              <div class="col-md-4 col-md-offset-4 text-center">
                                  <div class="form-group">
                                      <h4 class="font-red bold"> Fecha Límite de la Fase </h4>
                                      <div ng-show="action.phase=='preparacion'" >
                                        <h4 class="font-red bold">{{ action.project.preparation_at }}</h4>
                                      </div>
                                      <div ng-show="action.phase=='negociacion'">
                                        <h4 class="font-red bold">{{ action.project.negotiation_at }}</h4>
                                      </div>
                                      <div ng-show="action.phase=='ejecucion'">
                                        <h4 class="font-red bold">{{ action.project.execution_at }}</h4>
                                      </div>
                                      <div ng-show="action.phase=='evaluacion'">
                                        <h4 class="font-red bold">{{ action.project.evaluation_at }}</h4>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <h4 class="form-section">Fechas Compromisos</h4>
                          <div class="row">

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5> Fecha de Inicio </h5>
                                  <md-datepicker
                                    name="begin_at"
                                    ng-model="action.begin_at"
                                    md-placeholder="ingrese fecha"
                                    required ></md-datepicker>

                                  <!--div ng-show="actionForm.begin_at.$touched || submitted">
                                    <div class="error" ng-show="actionForm.begin_at.$error.required">
                                      Campo requerido.
                                    </div>
                                  </div-->
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5> Fecha de expiracion </h5>
                                  <md-datepicker
                                    name="expire_at"
                                    ng-model="action.expire_at"
                                    md-placeholder="ingrese fecha"
                                    required ></md-datepicker>

                                  <!--div ng-show="actionForm.expire_at.$touched || submitted">
                                    <div class="error" ng-show="actionForm.expire_at.$error.required">
                                      Campo requerido.
                                    </div>
                                  </div-->
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>Fecha de Cumplimiento</h5>
                                  <md-datepicker
                                    name="accomplish_at"
                                    ng-model="action.accomplish_at"
                                    md-placeholder="ingrese fecha"
                                    required></md-datepicker>

                                    <!--div ng-show="actionForm.accomplish_at.$touched || submitted">
                                      <div class="error" ng-show="actionForm.accomplish_at.$error.required">
                                        Campo requerido.
                                      </div>
                                    </div-->
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div flex-gt-xs>
                                  <h5>Fecha de Reporte de Avance</h5>
                                  <md-datepicker
                                  name="report_at"
                                  md-placeholder="ingrese fecha"
                                  ng-model="action.report_at"
                                  required ></md-datepicker>

                                  <!--div ng-show="actionForm.report_at.$touched || submitted">
                                    <div class="error" ng-show="actionForm.report_at.$error.required">
                                      Campo requerido.
                                    </div>
                                  </div-->

                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                          <div class="col-md-4 col-md-offset-4 text-center">
                              <div flex-gt-xs>
                                <h5>Fecha de Renegoaciación</h5>
                                <md-datepicker
                                name="renegotiation_at"
                                md-placeholder="ingrese fecha"
                                ng-model="action.renegotiation_at"
                                required ></md-datepicker>

                                <!--div ng-show="actionForm.renegotiation_at.$touched || submitted">
                                  <div class="error" ng-show="actionForm.renegotiation_at.$error.required">
                                    Campo requerido.
                                  </div>
                                </div-->

                              </div>
                          </div>
                        </div>

                        <br>
                        <h4 class="form-section">Indicadores</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <md-input-container class="md-block">
                                  <label> Financieros </label>
                                  <input
                                    name="financial"
                                    maxlength="64"
                                    ng-model="action.financial"
                                    ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                    required></input>
                                  <div ng-show="actionForm.financial.$touched || submitted">
                                    <div class="error" ng-show="actionForm.financial.$error.required">
                                      Campo requerido.
                                    </div>
                                    <div class="error" ng-show="actionForm.financial.$error.pattern">
                                      Debe contener espacios y caracteres alfabéticos.
                                    </div>
                                  </div>
                                 </md-input-container>
                            </div>
                            <div class="col-md-3">

                                <md-input-container class="md-block">
                                  <label> Operacionales </label>
                                  <input
                                    name="operational"
                                    maxlength="64"
                                    ng-model="action.operational"
                                    ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                    required></input>
                                  <div ng-show="actionForm.operational.$touched || submitted">
                                    <div class="error" ng-show="actionForm.operational.$error.required">
                                      Campo requerido.
                                    </div>
                                    <div class="error" ng-show="actionForm.operational.$error.pattern">
                                       Debe contener espacios y caracteres alfabéticos.
                                    </div>
                                  </div>
                                 </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block">
                                  <label> Otros </label>
                                  <input
                                    name="other1"
                                    maxlength="64"
                                    ng-model="action.other1"
                                    ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                    required></input>
                                  <div ng-show="actionForm.other1.$touched || submitted">
                                    <div class="error" ng-show="actionForm.other1.$error.required">
                                      Campo requerido.
                                    </div>
                                    <div class="error" ng-show="actionForm.other1.$error.pattern">
                                       Debe contener espacios y caracteres alfabéticos.
                                    </div>
                                  </div>
                                 </md-input-container>
                            </div>
                            <div class="col-md-3">
                              <md-input-container class="md-block">
                                <label> Otros </label>
                                <input
                                  name="other2"
                                  maxlength="64"
                                  ng-model="action.other2"
                                  ng-pattern="/^([a-zA-ZñáéíóúÑÁÉÍÓÚ\s]{0,64})$/"
                                  required></input>
                                <div ng-show="actionForm.other2.$touched || submitted">
                                  <div class="error" ng-show="actionForm.other2.$error.required">
                                    Campo requerido.
                                  </div>
                                  <div class="error" ng-show="actionForm.other2.$error.pattern">
                                     Debe contener espacios y caracteres alfabéticos.
                                  </div>
                                </div>
                               </md-input-container>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-sm btn-circle red-thunderbird">
                              &nbsp; Enviar &nbsp;
                            </button>
                            <br><br>
                            <div class="error">
                              {{ errors }}
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
            </div>
            <!-- END TASK COMMENT FORM -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
