<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- END THEME PANEL -->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">Inicio</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Usuario</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Perfil</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <!-- <div class="btn-group pull-right">
                        <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="alertas.html">
                                    <i class="icon-fire"></i> Nueva Alerta</a>
                            </li>
                            <li>
                                <a href="acciones.html">
                                    <i class="icon-pin"></i> Nueva Acción</a>
                            </li>
                            <li>
                                <a href="equipos.html">
                                    <i class="icon-user"></i> Ubicar a Alguien</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="proyectos">
                                    <i class="icon-layers"></i> Proyectos en Ejecución</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title"> Perfil
                            <small></small>
                        </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-md-12" ng-init="init()">
                    <!-- BEGIN PROFILE SIDEBAR -->
                    <div class="profile-sidebar">
                        <!-- PORTLET MAIN -->
                        <div class="portlet light profile-sidebar-portlet ">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <img src="{{ user.photo}}" class="img-responsive" alt=""> </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name"> {{user.name  +' '+ user.first_surname+' '+ user.second_surname}}</div>
                                <div class="profile-usertitle-job"> {{user.position}} </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            <!-- END SIDEBAR BUTTONS -->
                            <!-- SIDEBAR MENU -->
                            <!-- END MENU -->
                        </div>
                        <!-- END PORTLET MAIN -->
                        <!-- PORTLET MAIN -->
                        <div class="portlet light ">
                            <!-- STAT -->
                            <!-- <div class="row list-separated profile-stat">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="uppercase profile-stat-title"> 37 </div>
                                    <div class="uppercase profile-stat-text"> Projects </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="uppercase profile-stat-title"> 51 </div>
                                    <div class="uppercase profile-stat-text"> Tasks </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="uppercase profile-stat-title"> 61 </div>
                                    <div class="uppercase profile-stat-text"> Uploads </div>
                                </div>
                            </div> -->
                            <!-- END STAT -->
                            <div>
                                <div class="margin-top-20 profile-desc-link">
                                    <i class="fa fa-globe"></i>
                                    <a href="">{{user.email}}</a>
                                </div>

                            </div>
                        </div>
                        <!-- END PORTLET MAIN -->
                    </div>
                    <!-- END BEGIN PROFILE SIDEBAR -->
                    <!-- BEGIN PROFILE CONTENT -->
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- BEGIN PORTLET -->
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-hide bold uppercase"> ¿Cómo cumplo? </span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable table-scrollable-borderless">
                                          <table class="table table-hover table-light ">
                                              <thead>
                                                  <tr class="uppercase ">
                                                      <th colspan="2 "> Cliente </th>
                                                      <th><i class=" fa fa-comments-o "></i></th>
                                                      <th><i class=" fa fa-thumbs-o-up "></i></th>
                                                      <th><i class=" fa fa-thumbs-o-down "></i> </th>
                                                      <th><i class=" fa fa-calculator "></i></th>
                                                  </tr>
                                              </thead>
                                              <tr ng-repeat="producer in client_id.producers track by $index">
                                                  <td class="fit ">
                                                    <img height="40" width="40" ng-src="{{producer.producer.photo}}"/>
                                                  <td>
                                                      <a href="javascript:; " class="primary-link ">{{producer.producer.username}}</a>
                                                  </td>
                                                  <td>{{ producer.open}}</td>
                                                  <td>{{ producer.satisfactories }}</td>
                                                  <td>{{ producer.unsatisfactories}}</td>
                                                  <td>
                                                      <span class="bold theme-font ">{{ (producer.satisfactories*100)/(producer.open+ producer.unsatisfactories+ producer.satisfactories) | number:2 }} %</span>
                                                  </td>
                                              </tr>
                                          </table>
                                        </div>
                                        <div class="text-center">
                                          <ul uib-pagination boundary-links="true" class="pagination-sm"
                                              previous-text="&lsaquo;" next-text="&rsaquo;"
                                              first-text="&laquo;" last-text="&raquo;"
                                              items-per-page="client_id.paginate_by"
                                              total-items="client_id.count"
                                              ng-model="clientsCurrentPage"
                                              ng-change="performancePageChanged(clientsCurrentPage,'client_id' )">
                                        </div>

                                    </div>
                                </div>
                                <!-- END PORTLET -->
                            </div>
                            <div class="col-md-6">
                                <!-- BEGIN PORTLET -->
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption caption-md">
                                            <i class="icon-globe theme-font hide"></i>
                                            <span class="caption-subject font-hide bold uppercase">¿Cómo me cumplen? </span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable table-scrollable-borderless">
                                          <table class="table table-hover table-light ">
                                              <thead>
                                                  <tr class="uppercase ">
                                                      <th colspan="2 "> Realizador </th>
                                                      <th><i class=" fa fa-comments-o "></i></th>
                                                      <th><i class=" fa fa-thumbs-o-up "></i></th>
                                                      <th><i class=" fa fa-thumbs-o-down "></i> </th>
                                                      <th><i class=" fa fa-calculator "></i></th>
                                                  </tr>
                                              </thead>
                                              <tr ng-repeat="producer in producer_id.producers track by $index">
                                                  <td class="fit ">
                                                    <img height="40" width="40" ng-src="{{producer.producer.photo}}"/>
                                                  <td>
                                                      <a href="javascript:; " class="primary-link ">{{producer.producer.username}}</a>
                                                  </td>
                                                  <td>{{ producer.open}}</td>
                                                  <td>{{ producer.satisfactories }}</td>
                                                  <td>{{ producer.unsatisfactories}}</td>
                                                  <td>
                                                      <span class="bold theme-font ">{{ (producer.satisfactories*100)/(producer.open+ producer.unsatisfactories+ producer.satisfactories) | number:2 }}%</span>
                                                  </td>
                                              </tr>
                                          </table>
                                        </div>
                                        <div class="text-center">

                                          <ul uib-pagination boundary-links="true" class="pagination-sm"
                                              previous-text="&lsaquo;" next-text="&rsaquo;"
                                              first-text="&laquo;" last-text="&raquo;"
                                              items-per-page="producer_id.paginate_by"
                                              total-items="producer_id.count"
                                              ng-model="producersCurrentPage"
                                              ng-change="performancePageChanged(producersCurrentPage,'producer_id' )">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- BEGIN PORTLET -->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-microphone font-dark hide"></i>
                                    <span class="caption-subject bold font-dark uppercase"> Mis Proyectos </span>
                                    <span class="caption-helper">Avance de Acciones</span>
                                </div>
                            </div>
                            <div class="portlet-body row" ng-repeat="number in getSize() track by $index">

                                    <div class="col-md-4" ng-repeat="project in chunkArray($index)">
                                        <div class="mt-widget-4">
                                            <div class="mt-img-container">
                                                <img ng-src="{{ project.image }}" /> </div>
                                            <div class="mt-container" ng-class="project.color">
                                                <div class="mt-head-title"> {{project.name}} </div>
                                                <div class="mt-body-icons">
                                                    <a href="bitacora.html">
                                                        <i class=" fa fa-lightbulb-o"></i>
                                                    </a>
                                                    <a href="bitacora.html">
                                                        <i class=" fa fa-hourglass-end"></i>
                                                    </a>
                                                    <a href="bitacora.html">
                                                        <i class=" fa fa-warning"></i>
                                                    </a>
                                                </div>
                                                <div class="mt-footer-button">
                                                    <button type="button" class="btn btn-circle btn-danger btn-sm">SYO</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                            <div class="text-center">
                              <ul uib-pagination boundary-links="true" class="pagination-sm"
                                  previous-text="&lsaquo;" next-text="&rsaquo;"
                                  first-text="&laquo;" last-text="&raquo;"
                                  items-per-page="project.results.paginate_by"
                                  total-items="project.results.count"
                                  ng-model="currentProjectPage"
                                  ng-change="performancePageChanged()">
                            </div>
                        </div>
                        <!-- END PROFILE CONTENT -->
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>
        <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
            <div class="page-quick-sidebar">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab"> Equipos
                                    <span class="badge badge-danger">2</span>
                                </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                        <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                            <h3 class="list-heading">Realizadores</h3>
                            <ul class="media-list list-items">
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-success">8</span>
                                    </div>
                                    <img class="media-object" src="../../assets/metronics/layouts/layout/img/avatar3.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ricardo Paredes</h4>
                                        <div class="media-heading-sub"> Lider de Proyecto </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object" src="../../assets/metronics/layouts/layout/img/avatar1.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Roberto Herrera</h4>
                                        <div class="media-heading-sub"> Coorinador de Producto </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-danger">3</span>
                                    </div>
                                    <img class="media-object" src="../../assets/metronics/layouts/layout/img/avatar4.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Raúl González</h4>
                                        <div class="media-heading-sub"> Gerente de Ventas </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object" src="../../assets/metronics/layouts/layout/img/avatar2.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">María Pérez</h4>
                                        <div class="media-heading-sub"> Gerente de Marketong </div>
                                    </div>
                                </li>
                            </ul>
                            <h3 class="list-heading">Clientes</h3>
                            <ul class="media-list list-items">
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-warning">2</span>
                                    </div>
                                    <img class="media-object" src="../../assets/metronics/layouts/layout/img/avatar6.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Lara Gómez</h4>
                                        <div class="media-heading-sub"> Directora Médico </div>
                                        <div class="media-heading-small"> Visto por última vez 03:10 AM </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="label label-sm label-success">nuevo</span>
                                    </div>
                                    <img class="media-object" src="../../assets/metronics/layouts/layout/img/avatar7.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Enrique Patiño</h4>
                                        <div class="media-heading-sub"> Director de Complience</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object" src="../../assets/metronics/layouts/layout/img/avatar8.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Gabriela Durán</h4>
                                        <div class="media-heading-sub"> Desarrollo Organizacional </div>
                                        <div class="media-heading-small"> isto por última vez 13:10 PM </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-success">7</span>
                                    </div>
                                    <img class="media-object" src="../../assets/metronics/layouts/layout/img/avatar9.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Carlos Portales</h4>
                                        <div class="media-heading-sub"> Gerente de Distrito </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object" src="../../assets/metronics/layouts/layout/img/avatar10.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Irina Triviño</h4>
                                        <div class="media-heading-sub"> Gerente Regional </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="page-quick-sidebar-item">
                            <div class="page-quick-sidebar-chat-user">
                                <div class="page-quick-sidebar-nav">
                                    <a href="javascript:;" class="page-quick-sidebar-back-to-list">
                                        <i class="icon-arrow-left"></i>Volver</a>
                                </div>
                                <div class="page-quick-sidebar-chat-user-messages">
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../../assets/metronics/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ricardo Paredes</a>
                                            <span class="datetime">20:15</span>
                                            <span class="body"> ¿Cuándo puedes mandar el reporte? </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt="" src="../../assets/metronics/layouts/layout/img/avatar2.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">María Pérez</a>
                                            <span class="datetime">20:15</span>
                                            <span class="body"> Prometo enviarlo antesde las 10:00 AM </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../../assets/metronics/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ricardo Paredes</a>
                                            <span class="datetime">20:15</span>
                                            <span class="body"> OK! Gracias! </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt="" src="../../assets/metronics/layouts/layout/img/avatar2.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">María Pérez</a>
                                            <span class="datetime">20:16</span>
                                            <span class="body"> Una disculpa por la demora. </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../../assets/metronics/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ricardo Paredes</a>
                                            <span class="datetime">20:17</span>
                                            <span class="body"> No es problema, sólo renegocia antes. </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt="" src="../../assets/metronics/layouts/layout/img/avatar2.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">María Pérez</a>
                                            <span class="datetime">20:40</span>
                                            <span class="body"> OK, No vuelve a suceder. </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../../assets/metronics/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ricardo Paredes</a>
                                            <span class="datetime">20:17</span>
                                            <span class="body"> OK, es importante que anticipes los quiebre pra poder cumplir tus promesas. </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt="" src="../../assets/metronics/layouts/layout/img/avatar2.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">María Pérez</a>
                                            <span class="datetime">20:40</span>
                                            <span class="body"> Sí, tienes razón, se me pierde el cliente en tanta operación y "activitis". </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../../assets/metronics/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ricardo Paredes</a>
                                            <span class="datetime">20:17</span>
                                            <span class="body"> Por eso es bueno diferencias las tareas de tus promesas. </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-quick-sidebar-chat-user-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Escribe un mensaje...">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn green">
                                                <i class="icon-paper-clip"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
