.green-status-opacity{
  background: rgba(15, 169, 34, 0.75) !important;
}

.red-status-opacity{
  background:rgba(231, 80, 90, 0.76) !important;
}

.yellow-status-opacity{
  background: rgba(236, 190, 5, 0.78)!important
}
