<my-header> </my-header>
<div class="page-container">
    <my-navbar> </my-navbar>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">Inicio</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <!--li>
                        <a href="#">Tablero de Control</a>
                        <i class="fa fa-circle"></i>
                    </li-->
                    <li>
                        <span>Tablero de Proyectos</span>
                    </li>
                </ul>
                <!--div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-fire"></i> Nueva Alerta</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-pin"></i> Nueva Acción</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-user"></i> Ubicar a Alguien</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="#">
                                    <i class="icon-layers"></i> Ver Proyectos</a>
                            </li>
                        </ul>
                    </div>
                </div-->
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <div class="row">
                <div class="col-md-10">
                    <h1 class="page-title"> Tablero de Proyectos
                        <small>Niveles de Cumplimiento</small>
                    </h1>
                </div>
                <div class="col-md-2" style="padding:1%">
                    <button type="button" class="btn blue" ui-sref="projectCreate">Crear proyecto</button>

                </div>
            </div>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="portlet light portlet-fit ">
                    <!--div class="portlet-title">
                        <div class="caption">
                            <i class="icon-microphone font-dark hide"></i>
                            <span class="caption-subject bold font-dark uppercase"> Proyectos Estratégicos</span>
                            <span class="caption-helper">Avance de Acciones</span>
                        </div>
                    </div-->
                    <div class="portlet-body">
                        <div class="row">

                            <div ng-repeat="project in data.results" ng-cloack>
                                <div class="col-md-4" style="margin-bottom: 3em;">
                                    <div class="mt-widget-4">
                                        <div class="mt-img-container">
                                            <img ng-src="{{ project.image }}"/>
                                            <!--img src="../../assets/metronics/pages/img/background/14.jpg" />
                                             <img src="../../assets/metronics/pages/img/background/58.jpg" />
                                             <img src="../../assets/metronics/pages/img/background/58.jpg" />
                                            <img src="../../assets/metronics/pages/img/background/15.jpg" /-->
                                        </div>
                                        <div class="mt-container bg-blue-opacity">
                                            <div class="mt-head-title">
                                                Nombre: {{ project.name }} <br>
                                                Tipo: {{ project.clasification }} <br>
                                                Fase: {{ project.phase }}
                                            </div>
                                            <div class="mt-body-icons">
                                                <a ui-sref="projectUpdate({ id: project.id })"
                                                   class="md-icon-button test-tooltip" aria-label="Refresh">
                                                   <md-tooltip md-direction="top"> Editar proyecto </md-tooltip>
                                                   <i class=" fa fa-edit"></i>
                                                </a>
                                                <a ui-sref="projectDetail({ id: project.id })">
                                                   <md-tooltip md-direction="top"> Detalle del proyecto </md-tooltip>
                                                    <i class=" fa fa-file-text-o"></i>
                                                </a>
                                                <!--a ui-sref="projectDetail">
                                                    <i class=" fa fa-lightbulb-o"></i>
                                                </a>
                                                <a ui-sref="projectDetail">  file-text-o
                                                    <i class=" fa fa-hourglass-end"></i>
                                                </a>
                                                <a ui-sref="projectDetail">
                                                    <i class=" fa fa-warning"></i>
                                                </a-->
                                            </div>
                                            <div class="mt-footer-button">
                                                <button type="button" class="btn btn-circle btn-info btn-sm">SYO</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="text-center">
                            <ul uib-pagination boundary-links="true" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                first-text="&laquo;" last-text="&raquo;"
                                items-per-page="data.paginate_by"
                                total-items="data.count"
                                ng-model="currentPage"
                                ng-change="pageChanged()">
                            </ul>
                        </div>

                    </div>

                    <div class="portlet light portlet-fit ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-microphone font-dark hide"></i>
                                <span class="caption-subject bold font-dark uppercase"> Evaluación de Proyectos</span>
                                <span class="caption-helper">Niveles de Cumplimiento</span>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mt-widget-3">
                                    <div class="mt-head bg-red">
                                        <div class="mt-head-icon">
                                            <i class=" fa fa-hourglass-end"></i>
                                        </div>
                                        <div class="mt-head-desc"> Proyectos Retrasados: </div>
                                        <span class="mt-head-date"> 3 </span>
                                        <div class="mt-head-button">
                                            <button type="button" class="btn btn-circle btn-outline white btn-sm">Ver</button>
                                        </div>
                                    </div>
                                    <div class="mt-body-actions-icons">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="fa fa-lightbulb-o"></i>
                                                                </span>Preparación </a>
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="fa fa-check-circle-o"></i>
                                                                </span>Negociación </a>
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="icon-layers"></i>
                                                                </span>Ejecución </a>
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="icon-question"></i>
                                                                </span>Evaluación </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mt-widget-3">
                                    <div class="mt-head bg-yellow-crusta-opacity">
                                        <div class="mt-head-icon">
                                            <i class="fa fa-warning"></i>
                                        </div>
                                        <div class="mt-head-desc"> Proyectos en Riesgo: </div>
                                        <span class="mt-head-date"> 1 </span>
                                        <div class="mt-head-button">
                                            <button type="button" class="btn btn-circle btn-outline white btn-sm">Ver</button>
                                        </div>
                                    </div>
                                    <div class="mt-body-actions-icons">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="fa fa-lightbulb-o"></i>
                                                                </span>Preparación </a>
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="fa fa-check-circle-o"></i>
                                                                </span>Negociación </a>
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="icon-layers"></i>
                                                                </span>Ejecución </a>
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="icon-question"></i>
                                                                </span>Evaluación </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mt-widget-3">
                                    <div class="mt-head bg-green">
                                        <div class="mt-head-icon">
                                            <i class=" fa fa-line-chart"></i>
                                        </div>
                                        <div class="mt-head-desc"> Proyectos en Tiempo </div>
                                        <span class="mt-head-date"> 1 </span>
                                        <div class="mt-head-button">
                                            <button type="button" class="btn btn-circle btn-outline white btn-sm">Ver</button>
                                        </div>
                                    </div>
                                    <div class="mt-body-actions-icons">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="fa fa-lightbulb-o"></i>
                                                                </span>Preparación </a>
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="fa fa-check-circle-o"></i>
                                                                </span>Negociación </a>
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="icon-layers"></i>
                                                                </span>Ejecución </a>
                                            <a href="javascript:;" class="btn ">
                                                <span class="mt-icon">
                                                                    <i class="icon-question"></i>
                                                                </span>Evaluación </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END CONTENT BODY -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
