<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper" ng-init="init()" ng-cloack>
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a ui-sref="coordinations"> Inicio </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="projectList"> Tablero del Proyectos </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="projectDetail({id: currentAction.project.id})"> Bitácora del Proyecto  </a>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Opciones de la acción
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li ng-if="currentAction.producer.id == user.id ">
                                <a ng-click="actionCreate()">
                                    <i class="icon-fire"></i> Nueva Acción </a>
                            </li>
                            <li >
                                <a href="" ui-sref="actionUpdate({id:currentAction.id})">
                                    <i class="icon-pin"></i> Editar accion </a>
                            </li>
                            <li ng-if="currentAction.producer.id == user.id">
                                <a href="" ng-click="openReportModal()">
                                    <i class="icon-note"></i> Agregar reporte de avance </a>
                            </li>
                            <li class="divider" ng-if="currentAction.producer.id == user.id  "> </li>
                            <li ng-click="actionFinishReport()" ng-if="currentAction.producer.id == user.id  ">
                                <a >
                                    <i class="icon-layers"></i> Terminar acción</a>
                            </li>

                            <li ng-click="closeAction()" ng-if="currentAction.client.id == user.id  ">
                                <a >
                                    <i class="icon-layers"></i> Cerrar acción</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <!--h1 class="page-title">
                <small>Action Workflow </small>
            </h1-->
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-microphone font-dark hide"></i>
                                <span class="caption-subject bold font-dark uppercase">
                                    Detalle de acción
                                </span>
                            </div>
                            <div class="btn-group pull-right" ng-if="report">
                              <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" ng-click="openReportDetailModal()"> Ver reporte
                              </button>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-widget-2">
                                        <div class="mt-head"
                                            style="background-image: url({{currentAction.project.image}})">
                                            <div class="mt-head-label">
                                                <button type="button" class="btn btn-success" ng-click="seeDatesModal()">
                                                    Ver fechas
                                                </button>
                                            </div>
                                            <div class="mt-head-user">
                                                <div class="mt-head-user-img">
                                                    <img src="{{currentAction.client.photo}}"> </div>
                                                <div class="mt-head-user-info" style="font-weight: bold">
                                                    <span class="mt-user-name">
                                                    {{ currentAction.client.name }} {{ currentAction.client.first_surname }}
                                                    </span>
                                                    <span class="mt-user-time">
                                                    <i class="icon-emoticon-smile"></i> {{currentAction.client.position}} </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-body margin-top-5">
                                            <div class="row">
                                              <div class="col-md-6">
                                                <h3 class="mt-body-title"> {{ currentAction.name }} </h3>
                                                <p class="mt-body-description">{{ currentAction.toDo }} .</p>
                                              </div>
                                              <div class="col-md-6">
                                                <h3 class="mt-body-title">Proyecto </h3>
                                                <p class="mt-body-description">{{ currentAction.project.name }} .</p>
                                              </div>
                                            </div>



                                        </div>
                                        <div class="mt-body-actions-icons">
                                            <div  class="btn-group btn-group btn-group-justified">
                                                <div class="btn"
                                                    ng-class="getColor('Preparación')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="fa fa-lightbulb-o"></i>
                                                    </span> Preparación </div>
                                                <div class="btn"
                                                    ng-class="getColor('Negociación')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="fa fa-check-circle-o"></i>
                                                    </span> Negociación </div>
                                                <div class="btn"
                                                    ng-class="getColor('Ejecución')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="icon-layers"></i>
                                                    </span> Ejecución </div>
                                                <div class="btn"
                                                    ng-class="getColor('Evaluación')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="icon-question"></i>
                                                    </span> Evaluación </div>
                                            </div>
                                            <div  class="btn-group btn-group btn-group-justified">
                                                <div class="btn bg-info ">
                                                    <span class="mt-icon font-blue">
                                                    </span> {{ currentAction.status }} </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bubble font-dark hide"></i>
                                <span class="caption-subject font-hide bold uppercase">
                                    Realizadores
                                </span>
                            </div>
                        </div>
                        <div class="portlet-body row">
                          <div class="col-md-12">
                            <div class="mt-widget-1">
                                <div class="mt-img">
                                    <img class="avatar" ng-src="{{currentAction.producer.photo}}"
                                         height="77" width="77"/>
                                </div>
                                <div class="mt-body">
                                    <h3 class="mt-username">
                                        {{ currentAction.producer.name }} {{currentAction.producer.first_surname}} {{ currentAction.producer.second_surname }}
                                    </h3>
                                    <p class="mt-user-title"> {{ currentAction.producer.position }} </p>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="portlet-body row" ng-repeat="number in [0, 1] track by $index">

                                <div class="col-md-4" ng-repeat="user in chunkArray($index) track by $index">
                                    <!--begin: widget 1-1 -->
                                    <div class="mt-widget-1">
                                        <div class="mt-icon">
                                            <a href="#">
                                                <i class="icon-plus"></i>
                                            </a>
                                        </div>
                                        <div class="mt-img">
                                            <img class="avatar" ng-src="{{ user.producer.photo }}"
                                                 height="77" width="77"/>
                                        </div>
                                        <div class="mt-body">
                                            <h3 class="mt-username">
                                                {{ user.producer.name }}
                                                {{ user.producer.first_surname }}
                                                {{ user.producer.second_surname }}
                                            </h3>
                                            <p class="mt-user-title">
                                                {{ user.producer.position }}
                                            </p>
                                        </div>
                                    </div>
                                    <!--end: widget 1-1 -->

                                </div>
                        </div>
                        <div class="text-center">
                            <ul uib-pagination boundary-links="true" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                first-text="&laquo;" last-text="&raquo;"
                                items-per-page="producers.producers.paginated_by"
                                total-items="producers.producers.count"
                                ng-model="producersCurrentPage"
                                ng-change="producerPageChanged(producersPerformanceCurrentPage, producersPerformance)">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-xs-12 col-sm-12 ">
                  <div class="portlet light portlet-fit bordered ">
                      <div class="portlet-title ">
                          <div class="caption ">
                              <i class="icon-microphone font-dark hide "></i>
                              <span class="caption-subject bold font-dark uppercase "> Performance de Cumplimiento</span>
                          </div>
                      </div>
                      <div class="portlet-body ">
                          <div class="table-scrollable table-scrollable-borderless ">
                              <table class="table table-hover table-light ">
                                  <thead>
                                      <tr class="uppercase ">
                                          <th colspan="2 "> Realizador </th>
                                          <th><i class=" fa fa-comments-o "></i></th>
                                          <th><i class=" fa fa-thumbs-o-up "></i></th>
                                          <th><i class=" fa fa-thumbs-o-down "></i> </th>
                                          <th><i class=" fa fa-calculator "></i></th>
                                      </tr>
                                  </thead>
                                  <tr ng-repeat="producer in producersPerformance.producers track by $index">
                                      <td class="fit ">
                                        <img height="40" width="40" ng-src="{{producer.producer.photo}}"/>
                                      <td>
                                          <a href="javascript:; " class="primary-link ">{{producer.producer.username}}</a>
                                      </td>
                                      <td>{{ producer.accepted}}</td>
                                      <td>{{ producer.satisfactories }}</td>
                                      <td>{{ producer.unsatisfactories}}</td>
                                      <td>
                                          <span class="bold theme-font ">{{ (producer.satisfactories*100)/(producer.accepted+ producer.unsatisfactories+ producer.satisfactories) | number:2}}   %</span>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                      <div class="text-center">
                          <ul uib-pagination boundary-links="true" class="pagination-sm"
                              previous-text="&lsaquo;" next-text="&rsaquo;"
                              first-text="&laquo;" last-text="&raquo;"
                              items-per-page="producersPerformance.paginated_by"
                              total-items="producersPerformance.count"
                              ng-model="producersPerformanceCurrentPage"
                              ng-change="producerPageChanged(producersPerformanceCurrentPage, 'producersPerformance')">
                          </ul>
                      </div>
                  </div>
                  <!-- END PORTLET -->
              </div>
                <div class="col-lg-6 col-xs-12 col-sm-12 ">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light bordered ">
                        <div class="portlet-title tabbable-line ">
                            <div class="caption ">
                                <i class="icon-globe font-dark hide "></i>
                                <span class="caption-subject font-dark bold uppercase "> Acciones </span>
                            </div>
                            <ul class="nav nav-tabs ">
                              <li class="active">
                                  <a  data-toggle="tab"  ng-click="actionPageChanged('Pendiente')"> Pendientes </a>
                              </li>
                              <li>
                                  <a  data-toggle="tab"  ng-click="actionPageChanged('Aceptada')"> Aceptados </a>
                              </li>
                              <li>
                                  <a  data-toggle="tab" ng-click="actionPageChanged('Ejecutada')"> Ejecutadas </a>
                              </li>
                              <li>
                                  <a  data-toggle="tab"  ng-click="actionPageChanged('Satisfactoria' )"> Satisfactoria </a>
                              </li>
                              <li>
                                  <a data-toggle="tab"  ng-click="actionPageChanged('Insatisfactoria')"> Insatisfactoria </a>
                              </li>
                            </ul>
                        </div>
                        <div class="portlet-body ">
                            <!--BEGIN TABS-->
                            <div class="tab-content ">
                                  <div class="tab-pane active" id="tab_actions_pending" >

                                      <!-- BEGIN: Actions -->

                                      <div class="mt-comments">
                                          <div class="mt-comment" ng-repeat="action in actions.results track by $index" ui-sref="actionDetail({id:action.id})">
                                              <div class="mt-comment-img" >
                                                <img  style="height:45px; width:45px " ng-src="{{ action.producer.photo }}" /> </div>

                                              <div class="mt-comment-body" >
                                                  <div  class="mt-comment-info"  >
                                                      <span class="mt-comment-author">{{ (action.producer.name + ' ' + action.producer.first_surname + ' ' + action.producer.second_surname)}}</span>
                                                      <span class="mt-comment-date " ng-class="action.color +'-status-text'">{{ action.begin_at |  date:'dd-MMM-yyyy'}}</span>
                                                  </div>
                                                  <div   class="mt-comment-text" > {{ action.name }} </div>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="text-center" ng-if="actions.results.length > 0">
                                        <ul uib-pagination boundary-links="true" class="pagination-sm"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"
                                            items-per-page="actions.paginate_by"
                                            total-items="actions.count"
                                            ng-model="actionCurrentPage"
                                            ng-change="actionPageChanged()">
                                        </ul>
                                      </div>

                                  </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END TABS-->

        </div>
    </div>
</div>
<!-- END CONTENT -->
