
<section id="login-container" class="login">
	<div class="content">
		<form class="login-form" ng-submit="loginSubmit(data)" name="loginForm" novalidate>

			<h3 class="form-title font-green"> Acceso de usuario </h3>
			
			<div class="form-group">
					<label class="control-label visible-ie8 visible-ie9"> Nombre de usuario </label>
					<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"       placeholder="Username"
					       name="username"
								 maxlength="32"
					       ng-model="data.username"
					       required/>

          <div ng-show = "loginForm.username.$touched || submitted">
            <div class="error" ng-show="loginForm.username.$error.required"> Campo requerido. </div>
          </div>

			</div>

			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9"> Contraseña </label>
				<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"       placeholder="Password" 
				       name="password"
				       maxlength="32"
				       ng-model="data.password" 
				       required=""/>

        <div ng-show = "loginForm.password.$touched || submitted">
          <div class="error" ng-show="loginForm.password.$error.required"> Campo requerido. </div>
        </div>

			</div>

			<div class="alert alert-danger" ng-show="showAlert">
				<button type="button" class="close" ng-click="showAlert=false"></button>
				<span> {{ errors }} </span>
			</div>

			<div class="form-actions">
				<button type="submit" loader="8" class="btn green uppercase"
								ng-disabled="loginForm.$invalid"> Ingresar </button>
				<!--a href="javascript:;" id="forget-password" class="forget-password"> 
					¿Olvidaste tu contraseña? 
				</a-->
			</div>

		</form>
	</div>
</section>
