<div class="modal-dialog modal-lg">
  <div class="modal-header text-center">
    <h3 class="modal-title" id="modal-title">Detalle de accion </h3>
  </div>
  <div class="modal-body" id="modal-body" >

        <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-microphone font-dark hide"></i>
                            <span class="caption-subject bold font-dark uppercase">
                                Detalle de acción
                            </span>
                        </div>
                        <div class="btn-group pull-right" ng-if="report">
                          <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" ng-click="openReportDetailModal()"> Ver reporte
                          </button>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mt-widget-2">
                                    <div class="mt-head"
                                        style="background-image: url({{vm.currentAction.project.image}})">
                                        <div class="mt-head-label">
                                            <button type="button" class="btn btn-success">
                                                Marketing
                                            </button>
                                        </div>
                                        <div class="mt-head-user">
                                            <div class="mt-head-user-img">
                                                <img ng-src="{{vm.currentAction.producer.photo}}"> </div>
                                            <div class="mt-head-user-info" style="font-weight: bold">
                                                <span class="mt-user-name">
                                                {{ vm.currentAction.client.name }} {{ vm.currentAction.client.first_surname }}
                                                </span>
                                                <span class="mt-user-time">
                                                <i class="icon-emoticon-smile"></i> {{vm.currentAction.client.position}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-body margin-top-5">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <h3 class="mt-body-title"> {{ vm.currentAction.name }} </h3>
                                            <p class="mt-body-description">{{ vm.currentAction.toDo }} .</p>
                                          </div>
                                          <div class="col-md-6">
                                            <h3 class="mt-body-title">Proyecto </h3>
                                            <p class="mt-body-description">{{ vm.currentAction.project.name }} .</p>
                                          </div>
                                        </div>



                                    </div>
                                    <div class="mt-body-actions-icons">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <div class="btn"
                                                ng-class="{'bg-info': vm.currentAction.phase == 'preparacion'}">
                                                <span class="mt-icon font-blue">
                                                    <i class="fa fa-lightbulb-o"></i>
                                                </span> Preparación </div>
                                            <div class="btn"
                                                ng-class="{'bg-info': vm.currentAction.phase == 'negociacion'}">
                                                <span class="mt-icon font-blue">
                                                    <i class="fa fa-check-circle-o"></i>
                                                </span> Negociación </div>
                                            <div class="btn"
                                                ng-class="{'bg-info': vm.currentAction.phase == 'ejecucion'}">
                                                <span class="mt-icon font-blue">
                                                    <i class="icon-layers"></i>
                                                </span> Ejecución </div>
                                            <div class="btn"
                                                ng-class="{'bg-info': vm.currentAction.phase == 'evaluacion'}">
                                                <span class="mt-icon font-blue">
                                                    <i class="icon-question"></i>
                                                </span> Evaluación </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12 ">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered ">
                    <div class="portlet-title tabbable-line ">
                        <div class="caption ">
                            <i class="icon-globe font-dark hide "></i>
                            <span class="caption-subject font-dark bold uppercase "> Acciones </span>
                        </div>
                        <ul class="nav nav-tabs ">
                            <li class="active ">
                                <a  class="active" data-toggle="tab"
                                   ng-click="vm.actionPageChanged('Abierta')"> Abiertas </a>
                            </li>
                            <li>
                                <a  data-toggle="tab"
                                   ng-click="vm.actionPageChanged('Satisfactoria')"> Satisfactorias </a>
                            </li>
                            <li>
                                <a  data-toggle="tab"
                                   ng-click="vm.actionPageChanged('Insatisfactoria')"> Insatisfactorias </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body ">
                        <!--BEGIN TABS-->
                        <div class="tab-content ">
                            <div class="tab-pane active " id="tab_1_1 ">
                                <div class="scroller " style="height: 320px; " data-always-visible="1 " data-rail-visible1="0 " data-handle-color="#D7DCE2 ">
                                    <ul class="feeds ">
                                        <li ng-repeat="action in vm.actions.results" ng-mouseover="hoverIn(true)" ng-mouseleave="hoverIn(false)">
                                            <div class="col1 ">
                                                <div class="cont ">
                                                    <div class="cont-col1 ">
                                                        <div class="label label-sm label-danger ">
                                                            <i class="icon-layers " ui-sref="actionDetail({id:action.id})"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc "> {{ action.name }} -
                                                        {{ action.producer.first_surname }}
                                                        {{ action.producer.second_surname }}
                                                        {{ action.producer.name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <a ng-show="hoverEdit" ui-sref="actionUpdate({id:action.id})" class="label label-sm label-danger"> Editar acción
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <ul uib-pagination boundary-links="true" class="pagination-sm"
                                        previous-text="&lsaquo;" next-text="&rsaquo;"
                                        first-text="&laquo;" last-text="&raquo;"
                                        items-per-page="vm.actions.paginate_by"
                                        total-items="vm.actions.count"
                                        ng-model="vm.actionCurrentPage"
                                        ng-change="vm.actionPageChanged()">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


      </div>
    </div>
