<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" ng-init="init()">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">Inicio</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Coordinación de Compromisos</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Conversaciones Abiertas</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">

                            <li>
                                <a href="#">
                                    <i class="icon-user"></i> Ubicar a Alguien</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title"> Coordinación de Compromisos
                            <small>Conversaciones Abiertas</small>
                        </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN DASHBOARD STATS 1-->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="13">12</span>
                            </div>
                            <div class="desc"> Promesas Incumplidas </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="11"></span> 7 </div>
                            <div class="desc"> Pedidos Incumplidos </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 yellow-lemon" href="#">
                        <div class="visual">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="549">10</span>
                            </div>
                            <div class="desc"> Promesas sin Aceptar </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 green-jungle" href="#">
                        <div class="visual">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="18"></span>25 </div>
                            <div class="desc"> Pedidos en Ejecución </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption">
                                <i class="icon-bubbles font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Mis Promesas (lo que debo)</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a  data-toggle="tab" ng-click="getCordinations('producer', 'Creada', 'promise')"> Pendientes </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab" ng-click="getCordinations('producer', 'Aceptada', 'promise')"> Aceptadas </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab"  ng-click="getCordinations('producer', 'Satisfactoria' , 'status')"> Satisfactoria </a>
                                </li>
                                <li>
                                    <a data-toggle="tab"  ng-click="getCordinations('producer', 'Insatisfactoria', 'status')"> Insatisfactoria </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_comments_1" >
                                    <!-- BEGIN: Comments -->
                                    <div class="mt-comments">
                                        <div class="mt-comment" ng-repeat="action in promises track by $index">
                                            <div class="mt-comment-img" >
                                              <img  style="height:45px; width:45px " ng-src="{{ action.producer.photo }}" /> </div>

                                            <div class="mt-comment-body" >
                                                <div class="mt-comment-info" ng-click="openModal(action)">
                                                    <span class="mt-comment-author">{{ action.client.second_surname}}</span>
                                                    <span class="mt-comment-date">{{ action.begin_at |  date:'dd-MMM-yyyy'}}</span>
                                                </div>
                                                <div class="mt-comment-text" ng-click="openModal(action)"> {{ action.name }} </div>
                                                <div class="mt-comment-details">
                                                    <span class="mt-comment-status mt-comment-status-pending"> {{ action.project.name }}</span>
                                                    <ul class="mt-comment-actions">
                                                        <li ng-if="producerStatus == 'Creada'">
                                                            <a ng-click="makeAction(action,'Aceptada', 'Creada', 'producer')" >Aceptar</a>
                                                        </li>
                                                        <li ng-if="producerStatus == 'Aceptada'">
                                                            <a ng-click="makeAction(action,'Cumplida' ,'Aceptada', 'producer')" >Terminar</a>
                                                        </li>
                                                        <!-- <li>
                                                            <a ng-click="makeAction(action,'','Negociando')" >Negociar</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="makeAction(action,'No aceptada')" >Declinar</a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- END: Comments -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption">
                                <i class=" icon-social-twitter font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Mis Pedidos (lo que me deben)</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a  data-toggle="tab"  ng-click="getCordinations('client', 'Creada', 'promise')"> Pendientes </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab"  ng-click="getCordinations('client', 'Aceptada', 'promise')"> Aceptados </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab"  ng-click="getCordinations('client', 'Satisfactoria' , 'status')"> Satisfactoria </a>
                                </li>
                                <li>
                                    <a data-toggle="tab"  ng-click="getCordinations('client', 'Insatisfactoria', 'status')"> Insatisfactoria </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_actions_pending">
                                    <!-- BEGIN: Actions -->
                                    <div class="mt-actions">
                                        <div class="mt-action" ng-repeat="action in orders track by $index">
                                            <div class="mt-action-img">
                                                <img  style="height:45px; width:45px " ng-src="{{ action.producer.photo }}" /> </div>
                                            <div class="mt-action-body">
                                                <div class="mt-action-row">
                                                    <div class="mt-action-info " ng-click="openModal(action)">
                                                        <div class="mt-action-details ">
                                                            <span class="mt-action-author">{{ action.producer.second_surname }}</span>
                                                            <p class="mt-action-desc">{{ action.name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="mt-action-datetime ">
                                                        <span class="mt-action-date">{{ action.begin_at |  date:'dd-MMM-yyyy'}}</span>
                                                    </div>
                                                    <div class="mt-action-buttons ">
                                                        <div class="btn-group btn-group-circle">
                                                            <!-- <button type="button" class="btn btn-outline green btn-sm" ng-click="makeAction(action,'retry')" >Reiterar</button> -->
                                                            <!-- <button type="button" class="btn btn-outline red btn-sm"  ng-click="makeAction(action,'cancel')">Cancelar</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
