<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" ng-init="init()">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">Inicio</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Coordinación de Compromisos</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Conversaciones Abiertas</span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <!-- <div class="btn-group pull-right">
                        <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">

                            <li>
                                <a href="#">
                                    <i class="icon-user"></i> Ubicar a Alguien</a>
                            </li>

                        </ul>
                    </div> -->
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title"> Coordinación de Compromisos
                            <small>Conversaciones Abiertas</small>
                        </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN DASHBOARD STATS 1-->
            <div class="row">
              <div class="col-md-3">
                <md-input-container class="md-block" >
                  <label> Tipo </label>
                  <md-select name="phase" ng-model="type"  ng-change="onPromiseTypeSelect(type)" required>
                    <md-option value="action" >Acciones</md-option>
                    <md-option value="project" >Proyectos</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="13">12</span>
                            </div>
                            <div class="desc"> Promesas Incumplidas </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="11"></span> 7 </div>
                            <div class="desc"> Pedidos Incumplidos </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 yellow-lemon" href="#">
                        <div class="visual">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="549">10</span>
                            </div>
                            <div class="desc"> Promesas sin Aceptar </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 green-jungle" href="#">
                        <div class="visual">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="18"></span>25 </div>
                            <div class="desc"> Pedidos en Ejecución </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row" ng-if="type == 'project'">

                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption">
                                <i class=" icon-social-twitter font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Mis proyectos (lo que debo)</span>

                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a  data-toggle="tab"  ng-click="getProjectsByProducer( 'Creada')"> Pendientes </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab"  ng-click="getProjectsByProducer( 'Aceptada')"> Aceptados </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab" ng-click="getProjectsByProducer( 'Terminada')"> Terminadas </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab"  ng-click="getProjectsByProducer( 'Satisfactoria' )"> Satisfactoria </a>
                                </li>
                                <li>
                                    <a data-toggle="tab"  ng-click="getProjectsByProducer( 'Insatisfactoria')"> Insatisfactoria </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_actions_pending" panel-loader="objeto">

                                    <!-- BEGIN: Actions -->

                                    <div class="mt-comments">
                                        <div class="mt-comment" ng-repeat="project in projectsByProducer.results track by $index">
                                            <div class="mt-comment-img" >
                                              <img  style="height:45px; width:45px " ng-src="{{ project.producer.photo }}" /> </div>

                                            <div class="mt-comment-body" >
                                                <div  class="mt-comment-info" ui-sref="projectDetail({id:project.id})" >
                                                    <span class="mt-comment-author">{{ (project.producer.name + ' ' + project.producer.first_surname + ' ' + project.producer.second_surname)}}</span>
                                                    <span class="mt-comment-date">{{ project.begin_at |  date:'dd-MMM-yyyy'}}</span>
                                                </div>
                                                <div   class="mt-comment-text" ui-sref="projectDetail({id:project.id})" > {{ project.name }} </div>
                                                <div   class="mt-comment-details">
                                                    <span   class="mt-comment-status mt-comment-status-pending"> {{ project.project.name }}</span>
                                                    <ul class="mt-comment-actions">
                                                        <li ng-if="projectProducerStatus == 'Creada'">
                                                            <a ng-click="makeActionProducerProject(project,'Aceptada')" >Aceptar</a>
                                                        </li>
                                                        <li ng-if="projectProducerStatus == 'Aceptada'">
                                                            <a ng-click="makeActionProducerProject(project,'Terminada')" >Terminar</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="makeAction(action,'','Negociando')" >Negociar</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="makeAction(action,'No aceptada')" >Declinar</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center" ng-if="projectsByProducer.results > 0">
                                        <ul uib-pagination boundary-links="true" class="pagination-sm"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"
                                            items-per-page="getProjectsByProducer.paginated_by"
                                            total-items="getProjectsByProducer.count"
                                            ng-model="projectsByProducerCurrentPage"
                                            ng-change="getProjectsByProducer()">
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption">
                                <i class="icon-bubbles font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Mis proyectos (lo que me deben)</span>

                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a  data-toggle="tab" ng-click="getProjectsByClient('Creada')"> Pendientes </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab" ng-click="getProjectsByClient('Aceptada')"> Aceptados </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab" ng-click="getProjectsByClient('Terminada')"> Terminados </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab"  ng-click="getProjectsByClient('Satisfactoria' )"> Satisfactoria </a>
                                </li>
                                <li>
                                    <a data-toggle="tab"  ng-click="getProjectsByClient('Insatisfactoria')"> Insatisfactoria </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_comments_1" >
                                    <!-- BEGIN: Comments -->
                                    <div class="mt-comments">
                                        <div class="mt-comment" ng-repeat="project in projectsByClient.results track by $index">
                                            <div class="mt-comment-img" >
                                              <img  style="height:45px; width:45px " ng-src="{{ project.client.photo }}" /> </div>

                                            <div class="mt-comment-body" >
                                                <div class="mt-comment-info" ui-sref="projectDetail({id:project.id})" >
                                                    <span class="mt-comment-author">{{ (project.client.name + ' ' + project.client.first_surname + ' ' + project.client.second_surname)}}</span>
                                                    <span class="mt-comment-date">{{ project.begin_at |  date:'dd-MMM-yyyy'}}</span>
                                                </div>
                                                <div class="mt-comment-text" ui-sref="projectDetail({id:project.id})" > {{ project.name }} </div>
                                                <div class="mt-comment-details">
                                                    <span class="mt-comment-status mt-comment-status-pending"> {{ project.project.name }}</span>
                                                    <ul class="mt-comment-actions">
                                                      <div class="mt-action-buttons ">
                                                          <div class="btn-group btn-group-circle">
                                                              <button ng-if="projectClientStatus == 'Terminada'" type="button" class="btn btn-outline green btn-sm" ng-click="makeProducerActionProject(project,'Satisfactoria')" >Satisfactoria</button>
                                                              <button ng-if="projectClientStatus == 'Terminada'" type="button" class="btn btn-outline red btn-sm"  ng-click="makeProducerActionProject(project,'Insatisfactoria')">Insatisfactoria</button>
                                                          </div>
                                                      </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <ul uib-pagination boundary-links="true" class="pagination-sm"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"
                                            items-per-page="projectsByClient.paginated_by"
                                            total-items="projectsByClient.count"
                                            ng-model="projectsByClientCurrentPage"
                                            ng-change="getProjectsByClient()">
                                        </ul>
                                    </div>
                                    <!-- END: Comments -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="type == 'action'">
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption">
                                <i class="icon-bubbles font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Mis Promesas (lo que debo)</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a  data-toggle="tab" ng-click="getClients('Creada')"> Pendientes </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab" ng-click="getClients('Aceptada')"> Aceptadas </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab" ng-click="getClients('Terminada')"> Terminadas </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab"  ng-click="getClients('Satisfactoria' )"> Satisfactoria </a>
                                </li>
                                <li>
                                    <a data-toggle="tab"  ng-click="getClients('Insatisfactoria')"> Insatisfactoria </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_comments_1" >
                                    <!-- BEGIN: Comments -->
                                    <div class="mt-comments">
                                        <div class="mt-comment" ng-repeat="action in promises.results track by $index">
                                            <div class="mt-comment-img" >
                                              <img  style="height:45px; width:45px " ng-src="{{ action.client.photo }}" /> </div>

                                            <div class="mt-comment-body" >
                                                <div class="mt-comment-info" ui-sref="actionDetail({id:action.id})">
                                                    <span class="mt-comment-author">{{ (action.client.name + ' ' + action.client.first_surname + ' ' + action.client.second_surname)}}</span>
                                                    <span class="mt-comment-date">{{ action.begin_at |  date:'dd-MMM-yyyy'}}</span>
                                                </div>
                                                <div class="mt-comment-text" ui-sref="actionDetail({id:action.id})"> {{ action.name }} </div>
                                                <div class="mt-comment-details">
                                                    <span class="mt-comment-status mt-comment-status-pending"> {{ action.project.name }}</span>
                                                    <ul class="mt-comment-actions">
                                                        <li ng-if="clientStatus == 'Creada'">
                                                            <a ng-click="makeClientAction(action,'Aceptada')" >Aceptar</a>
                                                        </li>
                                                        <li ng-if="clientStatus == 'Aceptada'">
                                                            <a ng-click="makeClientAction(action,'Terminada')" >Terminar</a>
                                                        </li>
                                                        <!-- <li>
                                                            <a ng-click="makeAction(action,'','Negociando')" >Negociar</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="makeAction(action,'No aceptada')" >Declinar</a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <ul uib-pagination boundary-links="true" class="pagination-sm"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"
                                            items-per-page="promises.paginated_by"
                                            total-items="promises.count"
                                            ng-model="promisesCurrentPage"
                                            ng-change="producerPageChanged()">
                                        </ul>
                                    </div>
                                    <!-- END: Comments -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption">
                                <i class=" icon-social-twitter font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Mis Pedidos (lo que me deben)</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a  data-toggle="tab"  ng-click="getProducers( 'Creada')"> Pendientes </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab"  ng-click="getProducers( 'Aceptada')"> Aceptados </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab" ng-click="getProducers( 'Terminada')"> Terminadas </a>
                                </li>
                                <li>
                                    <a  data-toggle="tab"  ng-click="getProducers( 'Satisfactoria' )"> Satisfactoria </a>
                                </li>
                                <li>
                                    <a data-toggle="tab"  ng-click="getProducers( 'Insatisfactoria')"> Insatisfactoria </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_actions_pending">
                                    <!-- BEGIN: Actions -->


                                    <div class="mt-comments">
                                        <div class="mt-comment" ng-repeat="action in orders.results track by $index">
                                            <div class="mt-comment-img" >
                                              <img  style="height:45px; width:45px " ng-src="{{ action.producer.photo }}" /> </div>

                                            <div class="mt-comment-body" >
                                                <div uib-tooltip="Click para ver la descripción" class="mt-comment-info" ui-sref="actionDetail({id:action.id})" >
                                                    <span class="mt-comment-author">{{ (action.producer.name + ' ' + action.producer.first_surname + ' ' + action.producer.second_surname)}}</span>
                                                    <span class="mt-comment-date">{{ action.begin_at |  date:'dd-MMM-yyyy'}}</span>
                                                </div>
                                                <div uib-tooltip="Click para ver la descripción"  class="mt-comment-text" ui-sref="actionDetail({id:action.id})" > {{ action.name }} </div>
                                                <div uib-tooltip="Click para ver la descripción"  class="mt-comment-details">
                                                    <span   class="mt-comment-status mt-comment-status-pending"> {{ action.project.name }}</span>
                                                    <ul class="mt-comment-actions">
                                                      <div class="mt-action-buttons ">
                                                          <div class="btn-group btn-group-circle">
                                                              <button ng-if="producerStatus == 'Terminada'" type="button" class="btn btn-outline green btn-sm" ng-click="makeProducerAction(action,'Satisfactoria')" >Satisfactoria</button>
                                                              <button ng-if="producerStatus == 'Terminada'" type="button" class="btn btn-outline red btn-sm"  ng-click="makeProducerAction(action,'Insatisfactoria')">Insatisfactoria</button>
                                                          </div>
                                                      </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <ul uib-pagination boundary-links="true" class="pagination-sm"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"
                                            items-per-page="orders.paginated_by"
                                            total-items="orders.count"
                                            ng-model="ordersCurrentPage"
                                            ng-change="producerPageChanged()">
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
