<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a ui-sref="coordinations"> Inicio </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="projectList"> Historial </a>
                        <i class="fa fa-circle"></i>
                    </li>
                </ul>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title text-center" style="margin: 1.5em 0em 0em 0em" ng-init="init()"> {{ titles.create }} {{ projectParent.name }}</h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN FORM PROJECT-->
            <div class="todo-content">
              <div class="portlet light">
                <div class="row">
                  <div class="col-md-5">
                      <md-input-container class="md-block" >
                        <label> Proyecto </label>
                        <md-select name="project" ng-model="listForm.project" ng-change="onProjectSelect(listForm.project)" required>
                          <md-option value="{{project}}" ng-repeat="project in projects"> {{project.name}} </md-option>
                        </md-select>
                      </md-input-container>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">

                    <history history="historyArray" ng-if="historyArray.length > 0 ">
                    </history>

                  </div>
                </div>

              </div>
            </div>
            <!-- END TASK COMMENT FORM -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
