<div class="cd-horizontal-timeline mt-timeline-horizontal " data-spacing="60 ">
    <div class="timeline ">
        <div class="events-wrapper ">
            <div class="events ">
                <ol>
                    <li  ng-repeat="action in vm.timeLine  track by $index">
                        <a href="#{{$index}} "  jquery-date="action.timeline" class="border-after-red bg-after-red " ng-class="{'selected':$index == 0}">{{ action.timeline | date:'dd-MMM'}}</a>
                    </li>
                </ol>
                <span class="filling-line bg-red " aria-hidden="true "></span>
            </div>
            <!-- .events -->
        </div>
        <!-- .events-wrapper -->
        <ul class="cd-timeline-navigation mt-ht-nav-icon ">
            <li>
                <a href="#0 " class="prev inactive btn btn-outline red md-skip ">
                    <i class="fa fa-chevron-left "></i>
                </a>
            </li>
            <li>
                <a href="#0 " class="next btn btn-outline red md-skip ">
                    <i class="fa fa-chevron-right "></i>
                </a>
            </li>
        </ul>
        <!-- .cd-timeline-navigation -->
    </div>
    <!-- .timeline -->
    <div class="events-content ">
        <ol>
            <li ng-class="{'selected':$index == 0}"  jquery-date="time.timeline" ng-repeat="time in vm.timeLine  track by $index">

              <div ng-repeat="action in time.actions">

                <div class="mt-title ">
                    <h2 class="mt-content-title ">{{action.name}} ({{ action.timeline_text}})</h2>
                </div>
                <div class="mt-author ">
                    <div class="mt-avatar ">
                        <img ng-src="{{action.producer.photo}}">
                    </div>
                    <div class="mt-author-name ">
                        <a href="javascript:; " class="font-blue ">{{ (action.producer.name + ' '+ action.producer.first_surname + ' '+ action.producer.second_surname)}}</a>
                    </div>
                    <div class="mt-author-datetime font-grey-mint ">{{ time.timeline | date:'dd-MMM-yyyy, hh:mm '}}</div>
                </div>
                <div class="clearfix "></div>
                <div class="mt-content border-grey-steel ">
                    <p>{{ action.toDo}}</p>
                </div>
              </div>



            </li>
        </ol>
    </div>
    <!-- .events-content -->
</div>
