
<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper" ng-init="getProjectByIdInit()" ng-cloack>
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a ui-sref="coordinations"> Inicio </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="projectList"> Tablero del Proyectos </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span> Bitácora del Proyecto  </span>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Agregar al proyecto
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a ui-sref="actionCreate({ projectId: project.id })">
                                    <i class="icon-fire"></i> Nueva Acción </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-pin"></i> Nueva Alerta</a>
                            </li>
                            <li ng-if="!report">
                                <a href="" ng-click="openReportModal()">
                                    <i class="icon-user"></i> Agregar reporte </a>
                            </li>

                            <li class="divider"> </li>
                            <li>
                                <a href="#">
                                    <i class="icon-layers"></i> Cerrar proyecto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <!--h1 class="page-title">
                <small>Action Workflow </small>
            </h1-->
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-microphone font-dark hide"></i>
                                <span class="caption-subject bold font-dark uppercase">
                                    Promesa del Proyecto
                                </span>


                            </div>
                            <div class="btn-group pull-right" ng-if="report">
                              <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" ng-click="openReportDetailModal()"> Ver reporte
                              </button>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-widget-2">
                                        <div class="mt-head"
                                            style="background-image: url({{project.image}})">
                                            <div class="mt-head-label">
                                                <button type="button" class="btn btn-success">
                                                    Marketing
                                                </button>
                                            </div>
                                            <div class="mt-head-user">
                                                <div class="mt-head-user-img">
                                                    <img ng-src="{{project.producer.photo}}"> </div>
                                                <div class="mt-head-user-info" style="font-weight: bold">
                                                    <span class="mt-user-name">
                                                    {{ project.client.name }} {{ project.client.first_surname }}
                                                    </span>
                                                    <span class="mt-user-time">
                                                    <i class="icon-emoticon-smile"></i> Líder </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-body margin-top-5">
                                            <h3 class="mt-body-title"> {{ project.name }} </h3>
                                            <p class="mt-body-description">{{ project.toDo }} .</p>
                                        </div>
                                        <div class="mt-body-actions-icons">
                                            <div class="btn-group btn-group btn-group-justified">
                                                <div class="btn"
                                                    ng-class="getColor('Preparación')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="fa fa-lightbulb-o"></i>
                                                    </span> Preparación </div>
                                                <div class="btn"
                                                    ng-class="getColor('Negociación')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="fa fa-check-circle-o"></i>
                                                    </span> Negociación </div>
                                                <div class="btn"
                                                    ng-class="getColor('Ejecución')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="icon-layers"></i>
                                                    </span> Ejecución </div>
                                                <div class="btn"
                                                    ng-class="getColor('Evaluación')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="icon-question"></i>
                                                    </span> Evaluación </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light  portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bubble font-dark hide"></i>
                                <span class="caption-subject font-hide bold uppercase">
                                    Realizadores
                                </span>
                            </div>
                        </div>
                        <div class="portlet-body row" ng-repeat="number in [0, 1] track by $index">

                                <div class="col-md-4" ng-repeat="user in chunkArray($index) track by $index">
                                    <!--begin: widget 1-1 -->
                                    <div class="mt-widget-1">
                                        <div class="mt-icon">
                                            <a href="#">
                                                <i class="icon-plus"></i>
                                            </a>
                                        </div>
                                        <div class="mt-img">
                                            <img class="avatar" ng-src="{{user.producer.photo}}"
                                                 height="77" width="77"/>
                                        </div>
                                        <div class="mt-body">
                                            <h3 class="mt-username">
                                                {{ user.producer.name }} {{user.producer.first_surname}} {{ user.producer.second_surname }}
                                            </h3>
                                            <p class="mt-user-title"> {{ user.producer.position }} </p>
                                        </div>
                                    </div>
                                    <!--end: widget 1-1 -->

                                </div>
                        </div>
                        <div class="text-center">
                            <ul uib-pagination boundary-links="true" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                first-text="&laquo;" last-text="&raquo;"
                                items-per-page="producers.paginated_by"
                                total-items="producers.count"
                                ng-model="producersCurrentPage"
                                ng-change="producerPageChanged(producersCurrentPage, 'producers')">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
              <div class="col-lg-6 col-xs-12 col-sm-12 ">
                  <div class="portlet light portlet-fit bordered ">
                      <div class="portlet-title ">
                          <div class="caption ">
                              <i class="icon-microphone font-dark hide "></i>
                              <span class="caption-subject bold font-dark uppercase "> Performance de Cumplimiento</span>
                          </div>
                      </div>
                      <div class="portlet-body ">
                          <div class="table-scrollable table-scrollable-borderless ">
                              <table class="table table-hover table-light ">
                                  <thead>
                                      <tr class="uppercase ">
                                          <th colspan="2 "> Realizador </th>
                                          <th><i class=" fa fa-comments-o "></i></th>
                                          <th><i class=" fa fa-thumbs-o-up "></i></th>
                                          <th><i class=" fa fa-thumbs-o-down "></i> </th>
                                          <th><i class=" fa fa-calculator "></i></th>
                                      </tr>
                                  </thead>
                                  <tr ng-repeat="producer in producersPerformance.producers track by $index">
                                      <td class="fit ">
                                        <img height="40" width="40" ng-src="{{producer.producer.photo}}"/>
                                      <td>
                                          <a href="javascript:; " class="primary-link ">{{producer.producer.username}}</a>
                                      </td>
                                      <td>{{ producer.open}}</td>
                                      <td>{{ producer.satisfactories }}</td>
                                      <td>{{ producer.unsatisfactories}}</td>
                                      <td>
                                          <span class="bold theme-font ">{{ (producer.satisfactories*100)/(producer.open+ producer.unsatisfactories+ producer.satisfactories)}}%</span>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                      <div class="text-center">
                          <ul uib-pagination boundary-links="true" class="pagination-sm"
                              previous-text="&lsaquo;" next-text="&rsaquo;"
                              first-text="&laquo;" last-text="&raquo;"
                              items-per-page="producersPerformance.paginated_by"
                              total-items="producersPerformance.count"
                              ng-model="producersPerformanceCurrentPage"
                              ng-change="producerPageChanged(producersPerformanceCurrentPage, 'producersPerformance')">
                          </ul>
                      </div>
                  </div>
                  <!-- END PORTLET -->
              </div>


            <div class="col-lg-6 col-xs-12 col-sm-12 ">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered ">
                    <div class="portlet-title tabbable-line ">
                        <div class="caption ">
                            <i class="icon-globe font-dark hide "></i>
                            <span class="caption-subject font-dark bold uppercase "> Acciones </span>
                        </div>
                        <ul class="nav nav-tabs ">
                            <li class="active ">
                                <a  class="active" data-toggle="tab"
                                   ng-click="actionPageChanged('Abierta')"> Abiertas </a>
                            </li>
                            <li>
                                <a  data-toggle="tab"
                                   ng-click="actionPageChanged('Satisfactoria')"> Satisfactorias </a>
                            </li>
                            <li>
                                <a  data-toggle="tab"
                                   ng-click="actionPageChanged('Insatisfactoria')"> Insatisfactorias </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body ">
                        <!--BEGIN TABS-->
                        <div class="tab-content ">
                            <div class="tab-pane active " id="tab_1_1 ">
                                <div class="scroller " style="height: 320px; " data-always-visible="1 " data-rail-visible1="0 " data-handle-color="#D7DCE2 ">
                                    <ul class="feeds ">
                                        <li ng-repeat="action in actions.results" ng-mouseover="hoverIn(true)" ng-mouseleave="hoverIn(false)">
                                            <div class="col1 ">
                                                <div class="cont ">
                                                    <div class="cont-col1 ">
                                                        <div class="label label-sm label-danger " ui-sref="actionDetail({id:action.id})">
                                                            <i class="icon-layers "></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc "> {{ action.name }} -
                                                        {{ action.producer.first_surname }}
                                                        {{ action.producer.second_surname }}
                                                        {{ action.producer.name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <a ng-show="hoverEdit" ui-sref="actionUpdate({id:action.id})" class="label label-sm label-danger"> Editar acción
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <ul uib-pagination boundary-links="true" class="pagination-sm"
                                        previous-text="&lsaquo;" next-text="&rsaquo;"
                                        first-text="&laquo;" last-text="&raquo;"
                                        items-per-page="actions.paginate_by"
                                        total-items="actions.count"
                                        ng-model="actionCurrentPage"
                                        ng-change="actionPageChanged()">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <!--END TABS-->

            <div class="row ">
                <div class="col-md-12 ">
                    <div class="portlet light portlet-fit bordered ">
                        <div class="portlet-title ">
                            <div class="caption col-md-6">
                                <i class="icon-directions font-green hide "></i>
                                <span class="caption-subject bold font-dark uppercase "> Bitácora</span>
                                <span class="caption-helper ">Coordinaciones</span>
                            </div>

                        </div>
                        <div class="portlet-body ">
                            <div class="cd-horizontal-timeline mt-timeline-horizontal " data-spacing="60 ">
                                <div class="timeline ">
                                    <div class="events-wrapper ">
                                        <div class="events ">
                                            <ol>
                                                <li  ng-repeat="action in timelines  track by $index">
                                                    <a href="#{{$index}} "  jquery-date="action.timeline" class="border-after-red bg-after-red " ng-class="{'selected':$index == 0}">{{ action.timeline | date:'dd-MMM'}}</a>
                                                </li>
                                            </ol>
                                            <span class="filling-line bg-red " aria-hidden="true "></span>
                                        </div>
                                        <!-- .events -->
                                    </div>
                                    <!-- .events-wrapper -->
                                    <ul class="cd-timeline-navigation mt-ht-nav-icon ">
                                        <li>
                                            <a href="#0 " class="prev inactive btn btn-outline red md-skip ">
                                                <i class="fa fa-chevron-left "></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#0 " class="next btn btn-outline red md-skip ">
                                                <i class="fa fa-chevron-right "></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- .cd-timeline-navigation -->
                                </div>
                                <!-- .timeline -->
                                <div class="events-content ">
                                    <ol>
                                        <li ng-class="{'selected':$index == 0}"  jquery-date="time.timeline" ng-repeat="time in timelines  track by $index">

                                          <div ng-repeat="action in time.actions">

                                            <div class="mt-title ">
                                                <h2 class="mt-content-title ">{{action.name}} ({{ action.timeline_text}})</h2>
                                            </div>
                                            <div class="mt-author ">
                                                <div class="mt-avatar ">
                                                    <img ng-src="{{action.producer.photo}}">
                                                </div>
                                                <div class="mt-author-name ">
                                                    <a href="javascript:; " class="font-blue ">{{ (action.producer.name + ' '+ action.producer.first_surname + ' '+ action.producer.second_surname)}}</a>
                                                </div>
                                                <div class="mt-author-datetime font-grey-mint ">{{ action.begin_at | date:'dd-MMM-yyyy'}}</div>
                                            </div>
                                            <div class="clearfix "></div>
                                            <div class="mt-content border-grey-steel ">
                                                <p>{{ action.toDo}}</p>
                                            </div>
                                          </div>



                                        </li>
                                    </ol>
                                </div>
                                <!-- .events-content -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TIMELINE ITEM -->
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
