.avatar{
  height: 80px;
  width: 80px;
}

.margin-top-5{
  margin-top: 5%!important;
}

md-radio-button .md-off, md-radio-button .md-on{
  border-radius: 50%!important;
}

.role-title{
 width: 100%;
    position: absolute;
}

.fixed-panel{
    position: fixed!important;
    bottom: 0px;
    z-index: 10;
    right: 0px;
    margin-bottom: 0px!important;
}