<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper" ng-init="getProjectByIdInit()" ng-cloack>
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a ui-sref="coordinations"> Inicio </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="projectList"> Tablero de Proyectos </a>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button ng-if="checkRole(['producer', 'observer', 'client'])" type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Opciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li ng-if="checkRole(['producer', 'observer'])">
                                <a ng-click="actionCreate()">
                                    <i class="icon-fire"></i> Nueva Acción </a>
                            </li>

                            <li ng-if="!isProject()"  ng-if="checkRole(['client'])">
                                <a ng-click="actionCopy()">
                                    <i class="icon-fire"></i> Copiar Acción </a>
                            </li>

                            <li ng-if="checkRole(['producer'])">
                                <a href="" ng-click="openAdvanceReport()">
                                    <i class="icon-note"></i> Agregar reporte de avance</a>
                            </li>

                            <li ng-if="checkRole(['client'])">
                                <a href="" ui-sref="projectUpdate({ id: project.id })">
                                    <i class="fa fa-edit"></i> Editar</a>
                            </li>

                            <li ng-if="checkRole(['producer'])">
                                <a href="" ng-click="moveTophase()">
                                    <i class="icon-link"></i> Pasar a la siguiente fase </a>
                            </li>

                            <li ng-if="checkRole(['producer'])">
                                <a ui-sref="projectView({id:project.id})">
                                    <i class="icon-link"></i> Ver detalles </a>
                            </li>

                            <li class="divider" ng-if="project.producer.id == user.id"> </li>
                            <li ng-click="openfinishProjectReport()" ng-if="checkRole(['producer'])">
                                <a >
                                    <i class="icon-layers"></i> Terminar {{ titles.name}}</a>
                            </li>

                            <li ng-click="closeProjectReport()" ng-if="checkRole(['client'])">
                                <a >
                                    <i class="icon-layers"></i> Cerrar {{ titles.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <!--h1 class="page-title">
                <small>Action Workflow </small>
            </h1-->
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-microphone font-dark hide"></i>
                                <span class="caption-subject bold font-dark uppercase">
                                    Promesa de {{ titles.name}}
                                </span>


                            </div>
                            <div class="btn-group pull-right" ng-if="getReport()">
                              <button type="button" class="btn red btn-sm btn-outline dropdown-toggle" ng-click="openReportDetailModal()"> Ver reporte
                              </button>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mt-widget-2">
                                        <div class="mt-head"
                                            style="background-image: url({{project.image}})">
                                             <div class="mt-head-label">
                                                <button type="button" class="btn btn-success" ng-click="seeDatesModal()">
                                                    Ver fechas
                                                </button>
                                            </div>
                                            <div class="mt-head-user">
                                                <div class="mt-head-user-img">
                                                    <img ng-src="{{project.client.photo}}"> </div>
                                                <div class="mt-head-user-info" style="font-weight: bold">
                                                    <span class="mt-user-name">
                                                    {{ project.client.name }} {{ project.client.first_surname }}
                                                    </span>
                                                    <span class="mt-user-time">
                                                    <i class="icon-emoticon-smile"></i> {{ project.producer.position }} </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-body ">
                                            <h3 class="mt-body-title">
                                              <span ui-sref="projectDetail({id:project.project.id})" style="cursor:pointer;"ng-if="!isProject()">Proyecto: {{ project.project.name }}</span><br><br>
                                              <span>{{titles.nameCapitalized}}: {{ project.name }} </span><br>
                                            <p class="mt-body-description">Acciones a realizar: {{ project.toDo }} .</p><br>
                                            <p class="mt-body-description">Condiciones de satisfacción: {{ project.satisfactions }} .</p>
                                        </div>
                                        <div class="mt-body-actions-icons">
                                            <div  class="btn-group btn-group btn-group-justified">
                                                <div class="btn"
                                                    ng-class="getColor('Preparación')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="fa fa-lightbulb-o"></i>
                                                    </span> Preparación </div>
                                                <div class="btn"
                                                    ng-class="getColor('Negociación')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="fa fa-check-circle-o"></i>
                                                    </span> Negociación </div>
                                                <div class="btn"
                                                    ng-class="getColor('Ejecución')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="icon-layers"></i>
                                                    </span> Ejecución </div>
                                                <div class="btn"
                                                    ng-class="getColor('Evaluación')">
                                                    <span class="mt-icon font-blue">
                                                        <i class="icon-question"></i>
                                                    </span> Evaluación </div>
                                            </div>
                                            <div  class="btn-group btn-group btn-group-justified">
                                                <div class="btn bg-info ">
                                                    <span class="mt-icon font-blue">
                                                    </span> {{project.status}} </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light  portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bubble font-dark hide"></i>
                                <span class="caption-subject font-hide bold uppercase">
                                    Participantes
                                </span>
                            </div>
                        </div>
                        <div class="portlet-body row">
                          <div class="col-md-6" >
                            <div class="mt-widget-1">
                                     <h5 class=" role-title">Realizador principal </h5>
                                
                                <div class="mt-img">
                                    <img class="avatar" ng-src="{{project.producer.photo}}"
                                         height="77" width="77"/>
                                </div>
                                <div class="mt-body">
                                    <h3 class="mt-username">
                                        {{ project.producer.name }} {{project.producer.first_surname}} {{ project.producer.second_surname }}
                                    </h3>
                                    <p class="mt-user-title"> {{ project.producer.position }} </p>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6" >
                            <div class="mt-widget-1">
                                     <h5 class="text-center  role-title">Observador </h5>
                                <div class="mt-img">
                                    <img class="avatar" ng-src="{{project.observer.photo}}"
                                         height="77" width="77"/>
                                </div>
                                <div class="mt-body">
                                    <h3 class="mt-username">
                                        {{ project.observer.name }} {{project.observer.first_surname}} {{ project.observer.second_surname }}
                                    </h3>
                                    <p class="mt-user-title"> {{ project.observer.position }} </p>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="portlet-title">
                             <span class="caption-subject font-hide bold uppercase">
                                    Realizadores secundarios
                                </span>
                        </div>
                        <div class="portlet-body row" ng-repeat="number in [0, 1] track by $index">

                                <div class="col-md-4" ng-repeat="user in chunkArray($index) track by $index">
                                    <!--begin: widget 1-1 -->
                                    <div class="mt-widget-1">

                                        <div class="mt-img">
                                            <img class="avatar" ng-src="{{user.producer.photo}}"
                                                 height="77" width="77"/>
                                        </div>
                                        <div class="mt-body">
                                            <h3 class="mt-username">
                                                {{ user.producer.name }} {{user.producer.first_surname}} {{ user.producer.second_surname }}
                                            </h3>
                                            <p class="mt-user-title"> {{ user.producer.position }} </p>
                                        </div>
                                    </div>
                                    <!--end: widget 1-1 -->

                                </div>
                        </div>
                        <div class="text-center">
                            <ul uib-pagination boundary-links="true" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                first-text="&laquo;" last-text="&raquo;"
                                items-per-page="producers.paginated_by"
                                total-items="producers.count"
                                ng-model="producersCurrentPage"
                                ng-change="producerPageChanged(producersCurrentPage, 'producers')">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
              <div class="col-lg-6 col-xs-12 col-sm-12 ">
                  <div class="portlet light portlet-fit bordered ">
                      <div class="portlet-title ">
                          <div class="caption ">
                              <i class="icon-microphone font-dark hide "></i>
                              <span class="caption-subject bold font-dark uppercase "> Performance de Cumplimiento</span>
                          </div>
                      </div>
                      <div class="portlet-body ">
                          <div class="table-scrollable table-scrollable-borderless ">
                              <table class="table table-hover table-light ">
                                  <thead>
                                      <tr class="uppercase ">
                                          <th colspan="2 "> Realizador </th>
                                          <th><i class=" fa fa-clock-o "></i></th>
                                          <th><i class=" fa fa-comments-o "></i></th>
                                          <th><i class=" fa fa-check "></i></th>
                                          <th><i class=" fa fa-thumbs-o-up "></i></th>
                                          <th><i class=" fa fa-thumbs-o-down "></i> </th>
                                          <th><i class=" fa fa-calculator "></i></th>
                                      </tr>
                                  </thead>
                                  <tr ng-repeat="producer in producersPerformance.producers track by $index">
                                      <td class="fit ">
                                        <img height="40" width="40" ng-src="{{producer.producer.photo}}"/>
                                      <td>
                                          <a ui-sref="profile({id:producer.producer.id})"  class="primary-link ">{{producer.producer.name  +' '+ producer.producer.first_surname+' '+ producer.producer.second_surname}}</a>
                                      </td>
                                      <td>{{ producer.pending}}</td>
                                      <td>{{ producer.accepted}}</td>
                                      <td>{{ producer.ejecuted}}</td>
                                      <td>{{ producer.satisfactories }}</td>
                                      <td>{{ producer.unsatisfactories}}</td>
                                      <td>
                                          <span class="bold theme-font ">{{ (producer.succesfulPercentage | number:2 ) }}%</span>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                      <div class="text-center">
                          <ul uib-pagination boundary-links="true" class="pagination-sm"
                              previous-text="&lsaquo;" next-text="&rsaquo;"
                              first-text="&laquo;" last-text="&raquo;"
                              items-per-page="producersPerformance.paginated_by"
                              total-items="producersPerformance.count"
                              ng-model="producersPerformanceCurrentPage"
                              ng-change="producerPageChanged(producersPerformanceCurrentPage, 'producersPerformance')">
                          </ul>
                      </div>
                  </div>
                  <!-- END PORTLET -->
              </div>


            <div class="col-lg-6 col-xs-12 col-sm-12 ">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered ">
                    <div class="portlet-title tabbable-line ">
                        <div class="caption ">
                            <i class="icon-globe font-dark hide "></i>
                            <span class="caption-subject font-dark bold uppercase "> Acciones </span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a  data-toggle="tab"  ng-click="actionPageChanged('Pendiente')"> Pendientes </a>
                            </li>
                            <li>
                                <a  data-toggle="tab"  ng-click="actionPageChanged('Aceptada')"> Aceptados </a>
                            </li>
                            <li>
                                <a  data-toggle="tab" ng-click="actionPageChanged('Ejecutada')"> Ejecutadas </a>
                            </li>
                            <li>
                                <a  data-toggle="tab" ng-click="actionPageChanged('Vencida')"> Vencidas </a>
                            </li>
                            <!-- <li>
                                <a  data-toggle="tab"  ng-click="actionPageChanged('Satisfactoria' )"> Satisfactoria </a>
                            </li> -->
                            <li>
                                <a data-toggle="tab"  ng-click="actionPageChanged('Insatisfactoria')"> Insatisfactoria </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body ">
                        <!--BEGIN TABS-->
                        <div class="tab-content ">
                              <div class="tab-pane active" id="tab_actions_pending" >

                                  <!-- BEGIN: Actions -->

                                  <div class="mt-comments">
                                      <div class="mt-comment" ng-repeat="action in actions.results track by $index" ui-sref="projectDetail({id:action.id})">
                                          <div class="mt-comment-img" >
                                            <img  style="height:45px; width:45px " ng-src="{{ action.producer.photo }}" /> </div>

                                          <div class="mt-comment-body" >
                                              <div  class="mt-comment-info"  >
                                                  <span class="mt-comment-author">{{ (action.producer.name + ' ' + action.producer.first_surname + ' ' + action.producer.second_surname)}}</span>
                                                  <span class="mt-comment-date " ng-class="action.color +'-status-text'">Del {{ action.begin_at |  date:'dd-MMM-yyyy'}} al  {{ action.accomplish_at |  date:'dd-MMM-yyyy'}} </span>
                                              </div>
                                              <div   class="mt-comment-text" > {{ action.name }} </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="text-center" ng-if="actions.results.length > 0">
                                    <ul uib-pagination boundary-links="true" class="pagination-sm"
                                        previous-text="&lsaquo;" next-text="&rsaquo;"
                                        first-text="&laquo;" last-text="&raquo;"
                                        items-per-page="actions.paginate_by"
                                        total-items="actions.count"
                                        ng-model="actionCurrentPage"
                                        ng-change="actionPageChanged()">
                                    </ul>
                                  </div>

                              </div>

                        </div>
                    </div>
                </div>
            </div>
          </div>
            <!--END TABS-->

            <div class="row ">
                <div class="col-md-12 ">
                    <div class="portlet light portlet-fit bordered ">
                        <div class="portlet-title ">
                            <div class="caption col-md-6">
                                <i class="icon-directions font-green hide "></i>
                                <span class="caption-subject bold font-dark uppercase "> Bitácora</span>
                                <span class="caption-helper ">Coordinaciones</span>
                            </div>

                        </div>
                        <div class="portlet-body " ng-if="historyArray.length >= 1">
                          <div class="row">
                            <div class="col-md-12">
                              <history history="historyArray">
                              </history>
                            </div>
                          </div>

                        </div>
                    </div>
                </div>
                <!-- END TIMELINE ITEM -->
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
