<my-header> </my-header>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <my-navbar> </my-navbar>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a ui-sref="coordinations"> Inicio </a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="projectList"> Alertas </a>
                    </li>

                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <!--button type="button" class="btn red btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-fire"></i> Nueva Alerta</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-pin"></i> Nueva Acción</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-user"></i> Ubicar a Alguien</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="#">
                                    <i class="icon-layers"></i> Ver Proyectos</a>
                            </li>
                        </ul-->
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN FORM PROJECT-->
            <div class="todo-content" ng-init="init()">
                <div class="portlet light">
                  <div class="col-md-12">

                    <div class="mt-timeline-2">
                        <div class="mt-timeline-line border-grey-steel"></div>
                        <ul class="mt-container">
                            <li class="mt-item" ng-repeat="alert in alerts">
                                <div class="mt-timeline-icon bg-red bg-font-red border-grey-steel">
                                    <i class="icon-plus"></i>
                                </div>
                                <div class="mt-timeline-content">
                                    <div class="mt-content-container">
                                        <div class="mt-title">
                                            <h3 class="mt-content-title">Nuevo proyecto ({{ alert.action.name}})</h3>
                                        </div>
                                        <div class="mt-author">
                                            <div class="mt-avatar">
                                                <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4_XRvUoHrrulZEh9z6wF_Pta_oy9CgveqgXTLIeHlQLxe5Ev1'>
                                            </div>
                                            <div class="mt-author-name">
                                                <a href="javascript:;" class="font-blue-madison">{{ alert.action.client.name}}</a>
                                            </div>
                                            <div class="mt-author-notes font-grey-mint">{{ alert.created_at | date:'dd-MMM-yyyy hh:mm a '}}</div>
                                        </div>
                                        <div class="mt-content border-grey-salt">
                                            <p>{{ alert.message}}</p>
                                            <a href="javascript:;" class="btn btn-circle red" ng-click="updateAlert(alert)">Ver proyecto</a>

                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>


                    <div class="text-center">
                        <ul uib-pagination boundary-links="true" class="pagination-sm"
                            previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"
                            items-per-page="alerts.paginated_by"
                            total-items="alerts.count"
                            ng-model="currentAlertPage"
                            ng-change="getAlerts()">
                        </ul>
                    </div>
                  </div>
                </div>
            </div>
            <!-- END TASK COMMENT FORM -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
